.navbar{
    padding: 0%;
}

#logo-link{
    background-color: white; 
    height: 52px;
    height: 52px;
}

#shm-logo{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

.modal{
    z-index:1100;
}

body.modal-open{
  padding-right: 0px !important;
}