#map {
    min-height: 450px;
    max-height: 600px;
    height: 100%;
    border-radius:15px;
}
body, html{
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url(/static/images/index1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    padding-top: 20px; 
    height: 100%; 
    align-items: center;
    justify-content: center; 
    overflow: hidden;
}

.loginbox{    
    background-image: url(/static/images/index1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    min-height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height:90%;
}
@media only screen and (max-width: 767px) {
    .bg {
        background-image: url(/static/images/index1.jpeg);
    }
}

#searchBtn{
    width: 100%;
}

#autocomplete{
    width: 100%; 
    height: 100%;
}

h1{
    text-align: center;
}

.box{
    margin-bottom: 100px;
}

.table{
    display: inline-block;
    height: 600px;
    width: 100%;
    overflow-y: scroll;
}