{% extends "base.html" %}

{% block content %}
<div class="bg">
    <div class="px-5 py-5">
        <div class="column is-4 is-offset-4">
            <h3 class="title">Actualizar estado de DAQ N° {{id_daq}} para {{nombre_y_tipo_activo.tipo_activo}} {{nombre_y_tipo_activo.nombre_puente}}</h3>
            <div class="box">
                <form action="{{url_for('views_api.actualizar_estado_daq',id_daq=id_daq)}}" method="POST">
                    <!--Nuevo Estado-->
                    <div class="field">
                        <div class="control">
                            <input class="custom-input form-control" type="text" name="nuevo_estado" placeholder="Nuevo estado">
                        </div>
                    </div>
                    <button class="button is-block is-info is-fullwidth">Actualizar</button>
                </form>    
            </div>
        </div>
    </div>
</div>
{% endblock %}