{% extends "base.html" %}

{% block content %}
<div class="bg">
    <div class="px-5 py-5">
        <div class="column is-4 is-offset-4">
            <h3 class="title">Agregar DAQ en {{nombre_y_tipo_activo.tipo_activo}} {{nombre_y_tipo_activo.nombre_puente}}</h3>
            <div class="box">
                <form action="{{url_for('views_api.agregar_daq',id_puente = id_puente)}}" method="POST">
                    <!--Zona del puente-->
                    <div class="field">
                        <select class="custom-select" id="zona_puente" name="zona_puente">
                            <option value="" style="display:none;">Zona asociada</option>
                            {% for i in zonas_puente %}
                                <option value="{{ i.id }}">{{ i.descripcion }}</option>
                            {% endfor %}
                        </select>    
                    </div>
                    <!--Numero de canales-->
                    <div class="field">
                        <div class="control">
                            <input class="custom-input form-control" type="text" name="nro_canales" placeholder="Número de canales">
                        </div>
                    </div>
                    <!--Numero de canales-->
                    <div class="field">
                        <div class="control">
                            <input class="custom-input form-control" type="text" name="caracteristicas" placeholder="Caracteristicas">
                        </div>
                    </div>
                    <button class="button is-block is-info is-fullwidth">Agregar</button>
                </form>    
            </div>
        </div>
    </div>
</div>
{% endblock %}