<div class="btn-toolbar btn-group-vertical text-start" role="toolbar">
    {% if esta_monitoreada %}
            <!--form action="{{url_for('views_api.zonas_de_estructura', id=datos_puente.id)}}">
                <button class="btn btn-secondary btn-sm">Zonas</button>
            </form>
            <form action="{{url_for('views_api.sensores_de_estructura', id=datos_puente.id)}}">
                <button class="btn btn-secondary btn-sm">Lista de Sensores</button>
            </form-->
        {% if current_user.permisos != 'Visita' %}

                <form class="d-grid gap-2 w-100" action="{{url_for('views_api.show_3d_bim',id_puente=datos_puente.id)}}">
                    <button class=" btn btn-outline-primary my-2 btn-lg text-wrap">
                        <p class="text-start"><i class="bi bi-badge-3d-fill me-3"></i> Exploración de Estructura en 3D</p>
                    </button>
                </form>

                <form class="d-grid gap-2 w-100" action="{{url_for('views_api.tiempo_real', id=datos_puente.id)}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-exclamation-circle-fill me-3"></i> Mediciones y Alertas en Tiempo Real</p>
                    </button>
                </form>
                
                <form class="d-grid gap-2 w-100" action="{{url_for('views_api.datos_recientes')}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-clipboard-data me-3"></i> Análisis de Mediciones Recientes</p>
                    </button>
                </form>

                <form class="d-grid gap-2 w-100" action="{{url_for('views_api.deteccion_temprana', id_puente=datos_puente.id)}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-display me-3"></i> Detección Temprana de Daños</p>
                    </button>
                </form>
                
                <form class="d-grid gap-2 w-100" action="{{url_for('views_api.hconsulta', id=datos_puente.id)}}">
                    <button class="btn btn-outline-primary  my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi bi-clock-history me-3"></i> Consulta de Mediciones Históricas</p>
                    </button>
                </form>
                
                <form class="d-grid gap-2 w-100" action="{{url_for('views_api.hdescarga', id=datos_puente.id)}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-download me-3"></i> Descarga de Mediciones Históricas</p>
                    </button>
                </form>
                
                {%if datos_puente.modelo_foto%}
                <form class="d-grid gap-2 w-100" action="{{datos_puente.modelo_foto}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-camera-fill me-3"></i> Visualización Modelo Fotogramétrico</p>
                    </button>
                </form>
                {%endif%}
                
                {%if datos_puente.modelo_degrada%}                
                <form class="d-grid gap-2 w-100" action="{{datos_puente.modelo_degrada}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-pie-chart-fill me-3"></i> Visualización Modelo Degradación</p>
                    </button>
                </form>
                {%endif%}
        {% endif %}
    {% else %}
        {% if current_user.permisos == 'Administrador' %}
                <form class="d-grid gap-2 w-100" action="{{ url_for('views_api.crear_monitoreo', id_puente=datos_puente.id) }}", method="POST">
                  <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="left" title="El puente no se encuentra instrumentado">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap w-100" type="button" disabled><p class="text-start"><i class="bi bi-search me-3"></i> Iniciar Monitoreo</p></button>
                  </span>
                </form>
        {% endif %} 
        
                <form class="d-grid gap-2 w-100" action="{{url_for('views_api.show_3d_bim',id_puente=datos_puente.id)}}">
                    <button class=" btn btn-outline-primary my-2 btn-lg text-wrap">
                        <p class="text-start"><i class="bi bi-badge-3d-fill me-3"></i> Exploración de Estructura en 3D</p>
                    </button>
                </form>
                
                {%if datos_puente.modelo_foto%}
                <form class="d-grid gap-2 w-100" action="{{datos_puente.modelo_foto}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-camera-fill me-3"></i> Visualización Modelo Fotogramétrico</p>
                    </button>
                </form>
                {%endif%}
                
                {%if datos_puente.modelo_degrada%}                
                <form class="d-grid gap-2 w-100" action="{{datos_puente.modelo_degrada}}">
                    <button class="btn btn-outline-primary my-2 btn-lg col-sm text-wrap">
                        <p class="text-start"><i class="bi bi-pie-chart-fill me-3"></i> Visualización Modelo Degradación</p>
                    </button>
                </form>
                {%endif%}
    {% endif %}
</div>
