<nav class="d-block navbar navbar-expand px-4 bg-white mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb bg-white border-bottom border-2 py-2">
    <li class="breadcrumb-item"><a href="{{url_for('views_api.profile')}}">Estructuras</a></li>
    {% if request.url_rule.endpoint == "views_api.informacion_estructura" %}
    <li class="breadcrumb-item active" aria-current="page">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title }}</li>
    {% elif request.url_rule.endpoint == "views_api.tiempo_real" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <li class="breadcrumb-item active " aria-current="page">Mediciones y Alertas en Tiempo Real</li>
    {% elif request.url_rule.endpoint == "views_api.datos_recientes" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Análisis de Mediciones Recientes</li>
    {% elif request.url_rule.endpoint == "views_api.gestion_estado" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Gestión Estado Estructural</li>
    {% elif request.url_rule.endpoint == "views_api.hconsulta" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Consulta de Mediciones Históricas</li>
    {% elif request.url_rule.endpoint == "views_api.hdescarga" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Descarga de Mediciones Históricas</li>
    {% elif request.url_rule.endpoint == "views_api.hdetalles" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('views_api.hconsulta',id=datos_puente.id)}}">Consulta de Mediciones Historicas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles Consulta de Mediciones Históricas</li>
    {% elif request.url_rule.endpoint == "views_api.hdetallesdescarga" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('views_api.hdescarga',id=datos_puente.id)}}">Descarga de Mediciones Historicas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles Descarga de Mediciones Históricas</li>
    {% elif request.url_rule.endpoint == "views_api.deteccion_temprana" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Detección Temprana de Daños</li>
    {% elif request.url_rule.endpoint == "views_api.detalle_sensor" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize()|title  }}</a></li>
    <!--<li class="breadcrumb-item active" aria-current="page">Detalle Sensor {{sensor.nombre_sensor}}</li>-->
    <li class="breadcrumb-item active dropdown" aria-current="page">Detalle Sensor 
            <a href="#" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{sensor.nombre_sensor}}
            </a>
            <ul class="dropdown-menu px-2 mx-4" aria-labelledby="dropdownMenuLink">
                <li><a href="#">AC 02</a></li>
                <li><a href="#">AC 03</a></li>
                <li><a href="#">AC 04</a></li>
                <li><a href="#">AC 05</a></li>
                <li><a href="#">AC 06</a></li>
                <li><a href="#">AC 07</a></li>
                <li><a href="#">AC 08</a></li>
                <li><a href="#">AC 09</a></li>
                <li><a href="#">AC 10</a></li>
                <li><a href="#">AC 11</a></li>
                <li><a href="#">AC 12</a></li>
                <li><a href="#">AC 13</a></li>
                <li><a href="#">AC 14</a></li>
                <li><a href="#">AC 15</a></li>
            </ul>
        </li>
    {% elif request.url_rule.endpoint == "views_api.detalle_daq" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle DAQ {{info_daq.caracteristicas}}</li>
    {% elif request.url_rule.endpoint == "views_api.mi_cuenta" %}
    <li class="breadcrumb-item active " aria-current="page">Mi Cuenta SHM</li>
    {% endif %}
  </ol>
</nav>

