<nav class="navbar fixed-top navbar-expand-md w-100" aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="{{url_for('views_api.profile')}}">Estructuras</a></li>
    {% if request.url_rule.endpoint == "views_api.informacion_estructura" %}
    <li class="breadcrumb-item active text-capitalize" aria-current="page"> {{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</li>
    {% elif request.url_rule.endpoint == "views_api.tiempo_real" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item active " aria-current="page">Mediciones y Alertas en Tiempo Real</li>
    {% elif request.url_rule.endpoint == "views_api.gestion_estado" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Gestion Estado Estructural</li>
    {% elif request.url_rule.endpoint == "views_api.hconsulta" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Consulta de Mediciones Historicas</li>
    {% elif request.url_rule.endpoint == "views_api.hdescarga" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Descarga de Mediciones Historicas</li>
    {% elif request.url_rule.endpoint == "views_api.hdetalles" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('views_api.hconsulta',id=datos_puente.id)}}">Consulta de Mediciones Historicas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles Consulta de Mediciones Historicas</li>
    {% elif request.url_rule.endpoint == "views_api.hdetallesdescarga" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('views_api.hdescarga',id=datos_puente.id)}}">Descarga de Mediciones Historicas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles Descarga de Mediciones Historicas</li>
    {% elif request.url_rule.endpoint == "views_api.detalle_sensor" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle Sensor {{sensor.nombre_sensor}}</li>
    {% elif request.url_rule.endpoint == "views_api.detalle_daq" %}
    <li class="breadcrumb-item text-capitalize"><a href="{{url_for('views_api.informacion_estructura',id=datos_puente.id)}}">{{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalle DAQ {{info_daq.caracteristicas}}</li>
    {% endif %}
  </ol>
</nav>