{% extends "base.html" %}
{% block customcss %}
{{ super() }}
<link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="bg">
   <div class="container-fluid px-5 py-2">
      <div class="row">{% include 'breadcrumb.html' %}</div>
      <h1 class="title text-capitalize">
         {{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}
      </h1>
      <div class="row py-3 d-flex flex-sm-row-reverse">
         <div class="col-sm-3 mb-2">{% include 'botones_tabla_estructura.html' %}</div>
         <div class="col-sm-9">
            <div class="row row-cols-2 g-2">
               <div class="col-sm-6">En Desarrollo</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block customjs %}
<script src="{{ url_for('static', filename='js/tabla_estructura.js')}}"></script>
<script>
   showBridgeOnMap({{datos_puente.coord_x}},{{datos_puente.coord_y}});
</script>
<script>
  function asignar_color( strEstado){
          if( strEstado === 'Prístina'){return ('green');}
          else if (strEstado === 'Con daño'){return ('yellow');}
          else if (strEstado === 'Falla estructural leve'){return ('orange');}
          else if (strEstado === 'Falla estructural grave'){return ('red');}
          else if (strEstado === 'Crítico'){return ('purple');}
          else if (strEstado === 'Seguro'){return ('green');}
          else if (strEstado === 'Seguro para operar'){return ('yellow');}
          else if (strEstado === 'Inseguro para libre circulación'){return ('red');}
          else if (strEstado === 'Peligro'){return ('purple');}
          else{return ('gray');}
  }
  
   $(document).ready(function(){
   
   
       $("#filterInput").on("keyup", function() {
           var value = $(this).val().toLowerCase();
           $("#sensor_data tr").filter(function() {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
           });
       $("#daq_data tr").filter(function() {
           $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
           });
       });
   });
</script> 
{% endblock %}

