{% extends "base.html" %}

{% block customcss %}
<link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
<!--<link rel="shortcut icon" href="{{url_for('static',filename='bim/' + id_puente|string + '/TemplateData/favicon.ico')}}">
<link rel="stylesheet" href="{{url_for('static',filename='bim/' + id_puente|string + '/TemplateData/style.css')}}">-->
{% endblock %}

{% block content %}
   {% include 'modal_glosario_estados.html'%} 
   {% include 'breadcrumb.html' %}
   <div class="container-fluid px-4 py-2">
      <h1 class="text-capitalize">
         {{datos_puente.tipo_activo}} {{ datos_puente.nombre|title}} :: Estado Estructural
      </h1>
      <div class="row py-3 d-flex flex-sm-row-reverse">
         <div class="col-sm-3 mb-2">{% include 'botones_tabla_estructura.html' %}</div>
         <div class="col-sm-9">
            <p class="h3 py-1">Estado Actual
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="Glosario Estados"><i type="button" class=" bi bi-info-circle" data-bs-toggle="modal" data-bs-target="#modal_glosario" ></i>
              </span>
            </p>
            <div class="card my-3">
               <div class="card-body row">
                  <div class="col card-text">Global: <span class="fw-bold">{% if historial %}{{historial[0].estado}} {%else%} Sin Registro {%endif%}</span> <i class="bi bi-circle-fill" id="global-circle"></i></div>
                  <div class="col card-text">Seguridad: <span class="fw-bold">{% if historial %}{{historial[0].seguridad}}{%else%} Sin Registro {%endif%}</span> <i class="bi bi-circle-fill" id="seg-circle"></i></div>
               </div>
               <div class="card-footer">
                  <small class="text-muted">{% if historial %}Ultima Actualización:  {{historial[0].fecha_estado | datetimefilter}} {%else%} [dd/mm/aa hh:mm:ss] No Data {%endif%}</small>
               </div>
            </div>
            <p class="h3 py-1">Actualizar Estado</p>
            <div class="card my-3">
               <form class="card-body row" id="actualizar-estado" action="{{url_for('views_api.gestion_estado', id=id_puente)}}" method="POST">
                  <div class="col-md-6">
                     <p class="h5">Estado Estructura Global:</p>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="globalRadio" id="pristina" value="Prístina" checked>
                        <label class="form-check-label" for="pristino"><i class="bi bi-circle-fill" style="color: var(--bs-green);"></i> Prístina</label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="globalRadio" id="dano" value="Con daño">
                        <label class="form-check-label" for="dano"><i class="bi bi-circle-fill" style="color: var(--bs-yellow);"></i> Con daño</label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="globalRadio" id="falla_leve" value="Falla estructural leve">
                        <label class="form-check-label" for="falla_leve"><i class="bi bi-circle-fill" style="color: var(--bs-orange);"></i> Falla estructural leve</label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="globalRadio" id="falla_grave" value="Falla estructural grave">
                        <label class="form-check-label" for="falla_grave"><i class="bi bi-circle-fill" style="color: var(--bs-red);"></i> Falla estructural grave</label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="globalRadio" id="critico" value="Crítico">
                        <label class="form-check-label" for="critico"><i class="bi bi-circle-fill" style="color: var(--bs-purple);"></i> Crítico</label>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <p class="h5">Nivel de Seguridad:</p>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="seguridadRadio" id="seguro" value="Seguro" checked>
                        <label class="form-check-label" for="exampleRadios1"><i class="bi bi-circle-fill" style="color: var(--bs-green);"></i> Seguro</label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="seguridadRadio" id="seg_op" value="Seguro para operar" >
                        <label class="form-check-label" for="exampleRadios1"><i class="bi bi-circle-fill" style="color: var(--bs-yellow);"></i> Seguro para operar</label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="seguridadRadio" id="inseguro" value="Inseguro para libre circulación">
                        <label class="form-check-label" for="exampleRadios1"><i class="bi bi-circle-fill" style="color: var(--bs-red);"></i> Inseguro para libre circulación</label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="seguridadRadio" id="peligro" value="Peligro">
                        <label class="form-check-label" for="exampleRadios1"><i class="bi bi-circle-fill" style="color: var(--bs-purple);"></i> Peligro</label>
                     </div>
                  </div>
                  <div class="col-md-12 mb-3 py-3">
                     <label for="detalles" class="form-label h5">Detalles</label>
                     <textarea name="detalles" class="form-control" id="detalles" rows="3" required></textarea>
                     <small id="TextAreaHelpBlock" class="form-text text-muted">El texto ingresado no debe exceder los 500 caracteres de longitud.</small>
                  </div>
                  <div class="d-grid d-md-flex justify-content-end"><button type="button" id="revision-btn" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#revision_modal">
                     Revisar
                     </button>
                  </div>
                  <div class="modal fade" id="revision_modal"tabindex="-1" aria-labelledby="revision_label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                     <div class="modal-content">
                        <div class="modal-header">
                           <p class="modal-title h4" id="revision_label">Actualizar Estado</p>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <div class="row py-1">
                               <div class="col-4">Estado Global:</div>
                               <div class="col-8"></i><p id="global-prev"></p></div>
                            </div>
                           <div class="row py-1">
                               <div class="col-4">Nivel de Seguridad:</div>
                               <div class="col-8"><p id="seguridad-prev"></p></div>
                            </div>
                            <div class="row py-1">
                               <div class="col-4">Detalles:</div>
                               <div class="col-8"><p id="detalles-prev"></p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                           <button type="button" id="actualizar-btn" class="btn btn-success">Actualizar</button>
                        </div>
                     </div>
                 </div>
               </div>
               </form>
            </div>
         </div>
      </div>
      <div class="py-1">
         <p class="h3 py-3">Historial Estados</p>
         <div class="form-floating mb-3">
            <input type="text" class="form-control" id="filterInput" placeholder="Filtrar estados">
            <label for="filterInput"><i class="fa fa-search mx-2"></i> Filtrar Historial</label>
         </div>
         <div>
            <table class="table table-bordered border-1 px-3"
            id = "historial"
            data-toggle="table"
            data-sortable="true"
            data-pagination="true"
            data-page-size="10" 
            data-show-columns="true"
            data-show-export="true"
            data-locale="es-CL">
               <thead class="table-dark">
                  <tr>
                     <th data-sortable="true">Fecha Estado</th>
                     <th data-sortable="true">Estado Global</th>
                     <th data-sortable="true">Nivel de Seguridad</th>
                     <th data-sortable="true">Detalles</th>
                  </tr>
               </thead>
               <tbody id="estados_data">
                  {%if historial%}
                  {%for i in historial%}
                  
                  <tr>
                     <td>{{i.fecha_estado | datetimefilter}}</td>
                     <td>{{i.estado}}</td>
                     <td>{{i.seguridad}}</td>
                     <td>{{i.detalles}}</td>
                  </tr>
                  {%endfor%}
                  {%endif%}
               </tbody>
            </table>
         </div>
      </div>
      <!--<div class ="row px-3">
      <div class="webgl-content h-50" style="position: relative;">
      <div id="unityContainer" style="width: 100%;position: absolute;"></div>
      </div>
      </div>-->
   </div>
{% endblock %}

{% block customjs %}
<script src="{{ url_for('static', filename='js/tableExport.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-locale-all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-export.min.js')}}"></script>
<!--<script src="{{url_for('static',filename='bim/' + id_puente|string + '/TemplateData/UnityProgress.js')}}"></script>
<script src="{{url_for('static',filename='bim/' + id_puente|string + '/Build/UnityLoader.js')}}"></script>
<script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "{{url_for('static',filename='bim/' + id_puente|string + '/Build/test_mochita.json')}}", {onProgress: UnityProgress});
</script>-->
<script>

function asignar_color( strEstado){
          if( strEstado === 'Prístina'){return ('green');}
          else if (strEstado === 'Con daño'){return ('yellow');}
          else if (strEstado === 'Falla estructural leve'){return ('orange');}
          else if (strEstado === 'Falla estructural grave'){return ('red');}
          else if (strEstado === 'Crítico'){return ('purple');}
          else if (strEstado === 'Seguro'){return ('green');}
          else if (strEstado === 'Seguro para operar'){return ('yellow');}
          else if (strEstado === 'Inseguro para libre circulación'){return ('red');}
          else if (strEstado === 'Peligro'){return ('purple');}
          else{return ('gray');}
          }
      $(document).ready(function(){
          
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
          })

          {%if historial%}
          var globString = "{{historial[0].estado}}";
          var segString = "{{historial[0].seguridad}}";

          $('#global-circle').css("color", 'var(--bs-' + asignar_color(globString) + ')');
          $('#seg-circle').css("color",'var(--bs-' + asignar_color(segString)+ ')');
          {%endif%}
          $('[data-bs-toggle="tooltip"]').tooltip();
          
          $('#revision-btn').click(function() {
             var globalS = $('input:radio[name=globalRadio]:checked');
             var secS = $('input:radio[name=seguridadRadio]:checked');
             $('#global-prev').text(globalS.val());
             $('#seguridad-prev').text(secS.val());
             $('#detalles-prev').text($('#detalles').val());
          });

          $('#actualizar-btn').click(function(){
              $('#actualizar-estado').submit();
          });
          
         $("#filterInput").on("keyup", function() {
             var value = $(this).val().toLowerCase();
             $("#estados_data tr").filter(function() {
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
             });
          });
      }); 
</script> 
{% endblock %}
