<!-- templates/hdescarga.html -->

{% extends "base.html" %}


{% block customcss %}
    {{ super() }}
	<link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome/css/all.css') }}" rel="stylesheet">	
	<link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container-fluid px-5 py-5">

	<h1 class="title">
	    {{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}
	</h1>
	<h4 class="subtitle">
	    {% if estado_monitoreo %}
	        Estado de monitoreo: {{estado_monitoreo.estado}} - {{estado_monitoreo.fecha_estado.strftime('%Y-%m-%d %H:%M:%S')}}
	    {% endif %}
	</h4>

	{% include 'botones_tabla_estructura.html' %}

	<div class="container">
		{% with messages = get_flashed_messages(category_filter=["success"]) %}
			{% if messages%}
				{% for message in messages %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
					  <p class="text-center"><strong class="text-center">¡Solicitud recibida!</strong></p>
					  <p class="text-center">Una vez completada, esta se verá reflejada en la tabla de descargas disponibles.</p>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% with messages = get_flashed_messages(category_filter=["error"]) %}
			{% if messages%}
				{% for message in messages %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
					  <p class="text-center"><strong class="text-center">¡Ups! Algo ha salido mal con tu última solicitud</strong></p>
					  <p class="text-center">Al parecer no hay datos en el rango seleccionado.</p>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>

	<div class="mt-3 mb-3 d-flex justify-content-center  ">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h1 class="panel-title">Rango de horarios</h1>
		  </div>		  
		  <div class="panel-body">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th scope="col">Años</th>
			      <th scope="col">Bloque 1</th>
			      <th scope="col">Bloque 2</th>
			      <th scope="col">Bloque 3</th>
			      <th scope="col">Bloque 4</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">
			      	2020
			      </th>
			      <td>[2:00 - 5:00]</td>
			      <td>[7:00 - 10:00]</td>
			      <td>[13:00 -16:00]</td>
			      <td>[18:00 - 21:00]</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	2021
			      </th>
			      <td>Desconocido</td>
			      <td>Desconocido</td>
			      <td>Desconocido</td>
			      <td>Desconocido</td>
			    </tr>
			  </tbody>
			</table>
		  </div>
		</div>
	</div>

	<form id="idform" class="needs-validation" method="post">

		<div class="mt-5 mb-3 d-flex justify-content-center">
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="destino_consulta" id="inlineRadio1" value="almacenamiento_programado" checked>
			  <label class="form-check-label" for="inlineRadio1">Almacenamiento Programado</label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="destino_consulta" id="inlineRadio2" value="evento_inesperado">
			  <label class="form-check-label" for="inlineRadio2">Eventos Inesperados</label>
			</div>
		</div>

		<div class = "hidediv">
			<div class="mt-3 mb-3 d-flex justify-content-center  ">
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="rango_consulta" id="inlineRadio3" value="todo_entre_las_fechas" checked>
				  <label class="form-check-label" for="inlineRadio3">Todo entre las fechas</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="rango_consulta" id="inlineRadio4" value="horas_por_dia">
				  <label class="form-check-label" for="inlineRadio4">Horas por dia</label>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center  mb-3">
			<div class="mt-4 col-sm-1">
				<p class="text-center">Inicio</p>
			</div>
			<div class="col-sm-3">
				<p class="text-center">Fechas</p>
			    <div class="form-group mb-0">
			        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
			            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="fecha_inicial" required/>
			            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
			                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			            </div>
			            <div class="invalid-feedback">
          					Entrada inválida.
        				</div>
			        </div>
			    </div>
			</div>
			<div class="col-sm-3">
				<p class="text-center">Horas</p>
			    <div class="form-group mb-0">
			        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
			            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="hora_inicial" required/>
			            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
			                <div class="input-group-text"><i class="fa fa-clock"></i></div>
			            </div>
			            <div class="invalid-feedback">
          					Entrada inválida.
        				</div>
			        </div>
			    </div>
			</div>
		</div>

		<div class="d-flex justify-content-center  mb-3">
			<div class="mt-2 col-sm-1">
				<p class="text-center">Fin</p>
			</div>
			<div class="col-sm-3">
			    <div class="form-group mb-0">
			        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
			            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" name="fecha_final" required/>
			            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
			                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			            </div>
			            <div class="invalid-feedback">
          					Entrada inválida.
        				</div>
			        </div>
			    </div>
			</div>
			<div class="col-sm-3">
			    <div class="form-group mb-0">
			        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
			            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" name="hora_final" required/>
			            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
			                <div class="input-group-text"><i class="fa fa-clock"></i></div>
			            </div>
			            <div class="invalid-feedback">
          					Entrada inválida.
        				</div>
			        </div>
			    </div>
			</div>
		</div>

		<div class="d-flex justify-content-center align-items-center  mb-3">
			<div class="col-sm-6">
				<fieldset disabled>
				<label for="disabledTextInput">Consulta actual [opcion 1: Todo entre las fechas]</label>
				<input type="text" id="disabledTextInput" class="form-control" placeholder="Todo entre [Fecha inicio + Hora inicio] y [Fecha fin + Hora fin]">
				<label for="disabledTextInput">Consulta actual [opcion 2: Horas por dia]</label>
				<input type="text" id="disabledTextInput" class="form-control" placeholder="Desde el [Fecha inicio] hasta [Fecha fin] entre los horarios [Hora inicial] y [Hora fin]">
			</div>
		</div>

		<div class="d-flex justify-content-center align-items-center  mb-3">
			<div class="col-sm-1">
				<p class="text-center">Sensores</p>
			</div>
			<div class="ml-2 btn-group-vertical">
			  <button type="button" id="selectall" class="btn btn-info">Seleccionar <br> Todo/Ninguno</button>
			</div>
			<div class="ml-2 mb-0 form-group">	
				<select multiple class="form-control" name="sensor_list" id="sensor_list" required>

				  	{%for i in info_sensores:%}
				  		<option value={{i["name"]}}>{{i["name"]}}</option>
				    {% endfor %}
				    
				</select>
		        <div class="invalid-feedback">
	          		Seleccionar sensores.
	        	</div>
			</div>
			<div class="ml-2 mb-0 form-group">	
				<div class="col-sm-1">
					<p class="text-center">Ejes:</p>
				</div>
			</div>
			<div class="ml-2 mb-0 form-group">

				{%for i in info_ejes:%}
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" name="consultas_ejes" value={{i}} id="defaultCheck1">
				  <label class="form-check-label" for="defaultCheck1">Eje {{i}}</label>
				</div>

				{% endfor %}
			</div>
		</div>

		<div class="d-flex justify-content-center align-items-center  mb-3">
		<input type="button" name="btn" value="Solicitar" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary" />
		</div>

		<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <p class="text-center"> Confirmar </p>
		            </div>
		            <div class="modal-body">
		                <p class="text-center"> ¿Estas seguro de solicitar esta descarga? </p>
		                <div class="card-body">    
		                	<p id="texto_rango" class="text-center"> </p>
		                	<p id="texto_sensores" class="text-center"> </p>
		                	<p id="texto_ejes" class="text-center"> </p>
		                	<p id="texto_consulta" class="text-center"> </p>
		                </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		                <button type="submit" class="btn btn-primary">Consultar</button>
		            </div>
		        </div>
		    </div>
		</div>			
	</form>

	<div class="mb-3 mt-5 ml-5 d-flex justify-content-left align-items-center  ">
		<p class="h4">Descargas disponibles</p>
	</div>

	<div class="mb-3 mt-5 ml-5 mr-5 d-flex justify-content-left align-items-center  ">
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">Fecha Solicitud</th>
		      <th scope="col">Desde</th>
		      <th scope="col">Hasta</th>
		      <th scope="col">Detalles</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{%for i in info_consultas:%}
			    <tr>
					<th scope="row"> {{i["fecha_consulta"]}} </th>
					<td>{{i["fecha_inicial"]}} {{i["hora_inicial"]}}</td>
					<td>{{i["fecha_final"]}} {{i["hora_final"]}}</td>
					<td class="pt-3 ">
						<a class="card-title text-primary m-0 d-flex align-items-center justify-content-between" href="{{url_for('views_api.hdetallesdescarga', id = datos_puente.id,filename = i.file_name) }}" >
							<i class="fas fa-search"></i>
						</a>
					</td>
			    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block customjs%}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/datetimepicker-custom.js')}}"></script>
	<script src="{{ url_for('static', filename='js/hdescarga-custom.js')}}"></script>
    <script type="text/javascript"></script>
{% endblock %}