<!-- templates/hdescarga.html -->

{% extends "base.html" %}


{% block customcss %}
    {{ super() }}
	<link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome/css/all.css') }}" rel="stylesheet">	
	<link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
{% include 'breadcrumb.html' %}
<div class="container-fluid px-5 py-1">

	<h1 class="title">
	    {{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}
	</h1>
	<h4 class="subtitle">
	    {% if estado_monitoreo %}
	        Estado de monitoreo: {{estado_monitoreo.estado}} - {{estado_monitoreo.fecha_estado.strftime('%Y-%m-%d %H:%M:%S')}}
	    {% endif %}
	</h4>


	<div class="container">
		{% with messages = get_flashed_messages(category_filter=["success"]) %}
			{% if messages%}
				{% for message in messages %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
					  <p class="text-center"><strong class="text-center">¡Solicitud recibida!</strong></p>
					  <p class="text-center">Una vez completada, esta se verá reflejada en la tabla de descargas disponibles.</p>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% with messages = get_flashed_messages(category_filter=["error"]) %}
			{% if messages%}
				{% for message in messages %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
					  <p class="text-center"><strong class="text-center">¡Ups! Algo ha salido mal con tu última solicitud</strong></p>
					  <p class="text-center">Al parecer no hay datos en el rango seleccionado.</p>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>

	<div class="row py-3 d-flex flex-sm-row-reverse">
		<div class="col-sm-2 mb-2">
			{% include 'botones_tabla_estructura.html' %}
		</div>
		<div class="col-sm-10">
			<form id="idform" class="needs-validation" method="post">
				<p class="h5">Paso 1: Seleccione Criterio de Descarga</p>
				<div class="mt-4 mb-3 d-flex justify-content-left">
					<div class="col-5 form-check form-check-inline">
						<input class="form-check-input" type="radio" name="destino_consulta" id="inlineRadio1" value="almacenamiento_programado" checked>
						<label class="form-check-label" for="inlineRadio1">Mediciones de Almacenamiento Programado</label>
					</div>
					<div class="col-5 form-check form-check-inline">
						<input class="form-check-input" type="radio" name="destino_consulta" id="inlineRadio2" value="evento_inesperado">
						<label class="form-check-label" for="inlineRadio2">Mediciones de Eventos Inesperados</label>
					</div>
				</div>
				<div class="mt-1 mb-3 d-flex justify-content-left">
			<!--	<div class="col-5">
						<div class="p">Mediciones almacenadas diariamente en los siguientes bloques:</div>
						<div class="p">bloque 1: [2:00 - 5:00]</div>
						<div class="p">bloque 2: [7:00 - 10:00]</div>
						<div class="p">bloque 3: [13:00 -16:00]</div>
						<div class="p">bloque 4: [18:00 - 21:00]</div>
					</div>
					<div class="col-5">
						<div class="p">Mediciones dentro o fuera de los bloques predefinidos. Almacenados debido a la detecci&oacuten de valores an&oacutemalos</div>
					</div>
				-->
				</div>
				<!--
				<div class = "hidediv">
					<div class="mt-3 mb-3 d-flex justify-content-left">
						<div class="col-5 form-check form-check-inline">
							<input class="form-check-input" type="radio" name="rango_consulta" id="inlineRadio3" value="rango_completo" checked>
							<label class="form-check-label" for="inlineRadio3">Rango completo</label>
						</div>
						<div class="col-5 form-check form-check-inline">
							<input class="form-check-input" type="radio" name="rango_consulta" id="inlineRadio4" value="rango_por_dia">
							<label class="form-check-label" for="inlineRadio4">Rango por dia</label>
						</div>
					</div>

					<div class="mt-1 mb-3 d-flex justify-content-left">
						<div class="col-5">
							<div class="p">Consulta a todo horario entre dos fechas</div>
							<div class="p">Ejemplo:</div>
							<div class="card w-75">
								<div class="card-body">
									Todo horario entre [Fecha inicio] a las [Hora inicio] y [Fecha fin] a las [Hora fin]
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="p">Consulta un rango de horas en cada dia seleccionado</div>
							<div class="p">Ejemplo:</div>
							<div class="card w-75">
								<div class="card-body">
									Desde la fecha [Fecha inicio] hasta [Fecha fin] entre los horarios [Hora inicio] y [Hora fin]
								</div>
							</div>
						</div>
					</div>

				</div>
			-->
				<p class="h5">Paso 2: Seleccione Periodo de Mediciones a descargar</p>
				<div class="d-flex justify-content-left  mb-3">
					<div class="mt-4 py-1 col-sm-1">
						<p class="text-center font-weight-bold">Desde</p>
					</div>
					<div class="mt-4 py-1 col-sm-1">
						<p class="text-center">Fecha inicio:</p>
					</div>
					<div class="mt-4 col-sm-3">
					    <div class="form-group mb-0">
					        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
					            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="fecha_inicial" required/>
					            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
					                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					            </div>
		            	        <div class="invalid-feedback">
		          					Entrada inválida.
		        				</div>
					        </div>
					    </div>
					</div>
					<!--
					<div class="mt-4 py-1 col-sm-1">
						<p class="text-center" id="range_text1">a las:</p>
					</div>
					<div class="mt-4 col-sm-3">
					    <div class="form-group mb-0">
					        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
					            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="hora_inicial" required/>
					            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
					                <div class="input-group-text"><i class="fa fa-clock"></i></div>
					            </div>
					            <div class="invalid-feedback">
		          					Entrada inválida.
		        				</div>
					        </div>
					    </div>
					</div>
				-->
				</div>

				<div class="d-flex justify-content-left  mb-3">
					<div class="mt-2 col-sm-1">
						<p class="text-center font-weight-bold">Hasta</p>
					</div>
					<div class="mt-2 col-sm-1">
						<p class="text-center">Fecha fin:</p>
					</div>
					<div class="col-sm-3">
					    <div class="form-group mb-0">
					        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
					            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4" name="fecha_final" required/>
					            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
					                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					            </div>
					            <div class="invalid-feedback">
		          					Entrada inválida.
		        				</div>
					        </div>
					    </div>
					</div>
					<!--
					<div class="mt-2 col-sm-1">
						<p class="text-center" id="range_text2">a las:</p>
					</div>
					<div class="col-sm-3">
					    <div class="form-group mb-0">
					        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
					            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3" name="hora_final" required/>
					            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
					                <div class="input-group-text"><i class="fa fa-clock"></i></div>
					            </div>
					            <div class="invalid-feedback">
		          					Entrada inválida.
		        				</div>
					        </div>
					    </div>
					</div>
				-->
				</div>

				<p class="h5">Paso 3: Seleccione sensores y ejes</p>
				<table
					id="table"
					data-toggle="table"
					data-height="460"
					data-search="true"
					data-maintain-meta-data="true"
					data-locale="es-ES"
					data-click-to-select="true"
					data-id-field="sensor_id"
					data-select-item-name="sensor_selected">
					<thead>
					<tr class="tr-class-1">
					  <th data-field="sensor_selected" data-checkbox="true"></th>
					  <th data-field="sensor_id" data-visible="false"></th>
					  <th data-field="nombre_sensor" data-sortable="true">Sensor</th>
					  <th data-field="tipo_sensor" data-sortable="true">Tipo Sensor</th>
					  <th data-field="modelo" data-sortable="true">Modelo</th>
					  <th data-field="frecuencia" data-sortable="true">Frecuencia</th>
					  <th data-field="zona_sensor" data-sortable="true">Zona</th>
					  <th data-field="DAQ" data-sortable="true">DAQ</th>
					  <th data-field="numero_canal" data-sortable="true">Canal</th>
					  <th data-field="estado_sensor" data-sortable="true">Estado</th>
					</tr>
					</thead>
					<tbody>
						{%for i in info_sensores:%}
					<tr class="tr-class-1">
						<td></td>
						<td>{{i["name"]}}</td>
						<td><a href="{{url_for('views_api.detalle_sensor',id_sensor=i['id_sensor_instalado'])}}">{{i["name"]}}</a></td>
						<td>{{i["tipo_sensor"]}}</td>
						<td>{{i["modelo"]}}</td>
						<td>{{i["frecuencia"]}}</td>
						<td>{{i["zona_sensor"]}}</td>
						<td><a href="{{url_for('views_api.detalle_daq',id_daq=i['id_daq'])}}">{{i["daq"]}}</a></td>
						<td>{{i["numero_canal"]}}</td>
						<td>{{i["estado_sensor"]}}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				<div id="validate_sensor_list" class="invalid-feedback">
					Seleccionar un sensor.
				</div>

				<div class="d-flex justify-content-left align-items-center  mb-3">

					<div class="ml-2 mb-0 form-group">	
						<div class="col-sm-1">
							<p class="text-center font-weight-bold">Ejes:</p>
						</div>
					</div>
					<div class="ml-2 mb-0 form-group">	

						{%for i in info_ejes:%}
						<div class="mt-4 px-5 form-check-inline">
						  <input class="form-check-input" type="checkbox" name="consultas_ejes" value={{i}} id="defaultCheck1">
						  <label class="form-check-label" for="defaultCheck1">Eje {{i}}</label>
						</div>
						{% endfor %}


					</div>
				</div>

				<div class="d-flex justify-content-center align-items-center  mb-3">
				<input type="button" name="btn" value="Solicitar" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary" />
				</div>

				<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog modal-dialog-centered">
				        <div class="modal-content">
				            <div class="modal-header">
				                <p class="text-center"> Confirmar </p>
				            </div>
				            <div class="modal-body">
				                <p class="text-center"> ¿Estas seguro de solicitar esta descarga? </p>
				                <div class="card-body">    
				                	<p id="texto_rango" class="text-center"> </p>
				                	<p id="texto_sensores" class="text-center"> </p>
				                	<p id="texto_ejes" class="text-center"> </p>
				                	<p id="texto_consulta" class="text-center"> </p>
				                </div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				                <button type="submit" class="btn btn-primary">Consultar</button>
				            </div>
				        </div>
				    </div>
				</div>			
			</form>
		</div>
	</div>
	<div class="mb-1 mt-5 d-flex justify-content-left align-items-center  ">
		<p class="h4">Descargas disponibles</p>
	</div>

	<div class="mb-3">
		
	<table
		id="table"
		data-toggle="table"
		data-height="255"
		data-search="true"
		data-maintain-meta-data="true"
		data-locale="es-ES">
		<thead>
		<tr class="tr-class-1">
		  <th data-field="fecha_consulta" data-sortable="true">Fecha Solicitud</th>
		  <th data-field="desde" data-sortable="true">Desde</th>
		  <th data-field="hasta" data-sortable="true">Hasta</th>
		  <th data-field="detalles" data-sortable="false">Detalles</th>
		</tr>
		</thead>
		<tbody>
			{%for i in info_consultas:%}
		<tr class="tr-class-1">
			<td>{{i["fecha_consulta"]}}</td>
			<td>{{i["fecha_inicial"]}} {{i["hora_inicial"]}}</td>
			<td>{{i["fecha_final"]}} {{i["hora_final"]}}</td>
			<td>
				<a class="card-title text-primary m-0 d-flex align-items-center justify-content-between" href="{{url_for('views_api.hdetallesdescarga', id = datos_puente.id,filename = i.file_name) }}" >
						<i class="fas fa-search"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>
{% endblock %}

{% block customjs%}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/datetimepicker-custom.js')}}"></script>
	<script src="{{ url_for('static', filename='js/hdescarga-custom.js')}}"></script>
	<script src="{{ url_for('static', filename='js/tableExport.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-table.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-table-locale-all.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-table-export.min.js')}}"></script>    
    <script type="text/javascript"></script>
{% endblock %}