<!-- templates/hdescarga.html -->

{% extends "base.html" %}


{% block customcss %}
    {{ super() }}
	<link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome/css/all.css') }}" rel="stylesheet">	
{% endblock %}


{% block content %}
<div class="mt-5 d-flex justify-content-center  ">
	<h1 class="title">
	    {{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}
	</h1>
	<h4 class="subtitle">
	    {% if estado_monitoreo %}
	        Estado de monitoreo: {{estado_monitoreo.estado}} - {{estado_monitoreo.fecha_estado.strftime('%Y-%m-%d %H:%M:%S')}}
	    {% endif %}
	</h4>
</div>
<div class="mt-2 mb-3 d-flex justify-content-center  ">	

	{% include 'botones_tabla_estructura.html' %}
</div>

<div class="mt-3 mb-3 d-flex justify-content-center  ">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h1 class="panel-title">Rango de horarios</h1>
	  </div>
	  <div class="panel-body">
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">Años</th>
		      <th scope="col">Bloque 1</th>
		      <th scope="col">Bloque 2</th>
		      <th scope="col">Bloque 3</th>
		      <th scope="col">Bloque 4</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">
		      	2020
		      </th>
		      <td>[7:00 - 9:00]</td>
		      <td>[12:00 - 15:00]</td>
		      <td>[23:00 -2:00]</td>
		      <td>[3:00 - 6:00]</td>
		    </tr>
		    <tr>
		      <th scope="row">
		      	2021
		      </th>
		      <td>Desconocido</td>
		      <td>Desconocido</td>
		      <td>Desconocido</td>
		      <td>Desconocido</td>
		    </tr>
		  </tbody>
		</table>
	  </div>
	</div>
</div>



En desarrollo...


{% endblock %}

{% block customjs%}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.es.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js')}}"></script>

    <script type="text/javascript">

        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
	            icons: {
	                time: 'far fa-clock',
	                date: 'far fa-calendar-alt',
	                up: 'fas fa-arrow-up',
	                down: 'fas fa-arrow-down',
	                previous: 'fas fa-chevron-left',
	                next: 'fas fa-chevron-right',
	                today: 'far fa-calendar-check',
	                clear: 'fas fa-trash',
	                close: 'fas fa-times'
	            } });

        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'L'
            });
        });

                $(function () {
            $('#datetimepicker2').datetimepicker({
                format: 'L'
            });
        });

        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'HH:mm'
            });
        });

                $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'HH:mm'
            });
        });



		$(function () {
		    $('#datetimepicker2').datetimepicker();
		    $('#datetimepicker4').datetimepicker({
		        useCurrent: false
		    });
		    $("#datetimepicker2").on("change.datetimepicker", function (e) {
		        $('#datetimepicker4').datetimepicker('minDate', e.date);
		    });
		    $("#datetimepicker4").on("change.datetimepicker", function (e) {
		        $('#datetimepicker2').datetimepicker('maxDate', e.date);
		    });
		});


        $(document).ready(function() { 
            $('input[type="radio"]').click(function() { 
                var inputValue = $(this).attr("value"); 
 				var targetBox = $(".hidediv"); 

                if (inputValue == "alm_prog"){
                	$(targetBox).show();
                }
                else if (inputValue == "event_inesp"){
                	$(targetBox).hide();
                }


            }); 
        }); 


    </script>



{% endblock %}