<!-- templates/hconsulta.html -->

{% extends "base.html" %}


{% block customcss %}
    {{ super() }}
	<link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome/css/all.css') }}" rel="stylesheet">	
	<link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container-fluid px-5 py-5">



	<h1 class="title">
	    {{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}
	</h1>
	<h4 class="subtitle">
	    {% if estado_monitoreo %}
	        Estado de monitoreo: {{estado_monitoreo.estado}} - {{estado_monitoreo.fecha_estado.strftime('%Y-%m-%d %H:%M:%S')}}
	    {% endif %}
	</h4>


	{% include 'botones_tabla_estructura.html' %}




	<div class="mt-3 mb-3 d-flex justify-content-center  ">

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h1 class="panel-title">Detalles</h1>
		  </div>
		  <div class="panel-body">
			<table class="table table-bordered">

			  <tbody>
			    <tr>
			      <th scope="row">
			      	Destino Consulta
			      </th>
			      <td>{{metadata['destino_consulta']}}</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	Rango de Consulta
			      </th>
			      <td>{{metadata['rango_consulta']}}</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	Fecha Inicial
			      </th>
			      <td>{{metadata['fecha_inicial']}} {{metadata['hora_inicial']}} UTC</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	Fecha Final
			      </th>
			      <td>{{metadata['fecha_final']}} {{metadata['hora_final']}} UTC</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	Lista de Sensores
			      </th>
			      <td>{{metadata['lista_sensores']}}</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	Ejes Consultados
			      </th>
			      <td>{{metadata['consultas_ejes']}}</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	Tamaño total
			      </th>
			      <td>{{metadata['size']}} MB</td>
			    </tr>
			    <tr>
			      <th scope="row">
			      	Tiempo de ejecución
			      </th>
			      <td>{{metadata['execution_time']}} segundos</td>
			    </tr>
			  </tbody>
			</table>
		  </div>
		</div>
		
	</div>

	<div class="mb-3 mt-5 ml-5 mr-5 d-sm-flex justify-content-center align-items-center  ">
		<div class="d-sm-flex">
			<table class="table table-borderless table-sm">
			  <thead>
			    <tr>
			      <th scope="col">Nombre del archivo</th>
			      <th scope="col">Descargar</th>
			    </tr>
			  </thead>
			  <tbody>

			  	{%for i in lista_descargables:%}
			  		<tr>
						<td> {{i}} </td>
						<td style="padding-left: 40px;"> <a href="{{url_for('views_api.hgetdescarga', file_name = i) }}" > <i class="fas fa-download"></i> </a> </td>				
				    </tr>
			    {% endfor %}
			    			    <tr>
				    </tr><i></i>

			  </tbody>
			</table>
		</div>
	</div>






</div>







{% endblock %}



{% block customjs%}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/tempusdominus-bootstrap-4.min.js')}}"></script>

    <script type="text/javascript">

    $('#downloadBtn').click(function() {

    	console.log("descargar")

    });

    </script>



{% endblock %}