{% extends "base.html" %}

{% block customcss %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/zonas_puente.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bg">
    <div class="container px-5 py-5">
        <h1 class="title py-3">Historial del {{tipo_sensor}} N° {{id_sensor}} en {{nombre_y_tipo_activo.tipo_activo}} {{nombre_y_tipo_activo.nombre_puente}}</h1>
        <div class="row">
            {% if current_user.permisos == 'Administrador' or current_user.permisos == 'Dueño' %}
                <div class="col-md-2">
                    <form action="{{url_for('views_api.actualizar_estado_sensor',id_sensor=id_sensor)}}">
                        <button class="btn btn-secondary btn-sm">Actualizar Estado</button>
                    </form>
                </div>
            {% endif %}                
        </div>
        <div class="row py-3 table-responsive">
            <table class="table table-striped table-hover clickable-row sortable">
                <thead class="thead-dark">
                    <tr>
                        <th>Ubicación</th>
                        <th>Fecha</th>
                        <th>Condición</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in historial %}
                    <tr>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.fecha_estado.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        <td>{{i.detalles}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}