{% if imagenes_estructura != None %}
    <div id="carousel_images" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% if imagenes_estructura%}
                {% for i in imagenes_estructura %}
                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                        <img id="bridge-img" class="d-block w-100" src="/static/images/{{i.ruta_acceso_archivo}}" alt="{{i.descripcion}}">
                    </div>
                {% endfor %}
            {% else %}
                <div class="carousel-item active">
                    <img id="img-not-available" class="d-block w-100" src="/static/images/imagen_no_disponible.png" alt="f">
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}