<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Región</th>
      <th scope="col">Estado de Alerta</th>
      <th scope="col">Fecha Estado Alerta</th>
      <th scope="col">Estado Global</th>
      <th scope="col">Estado de Seguridad</th>
      <th scope="col">Fecha Estado Global y Seguridad</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>