{% extends "base.html" %}

{% block customcss %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
    <style>
        .modal{
            z-index:1100;
        }
        .modal-content{
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
<div class="bg">
    <div class="container px-5 py-5">
        <h1 class="title py-3">Mis informes de monitoreo visual</h1>
        <div class="row"> 
            <div class="col col-md-3 col-sm-3">
                    <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addinformeModal">Agregar nuevo informe</button>
                    <div class="modal fade" id="addinformeModal" tabindex="-1" role="dialog" aria-labelledby="addinformeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Agregar nuevo informe</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <div class="modal-body">
                                <form action="{{url_for('views_api.agregar_informe_test')}}" method="POST" enctype = "multipart/form-data">
                                    <input class="input" type="text" name="id_puente" placeholder="ID de la estructura" style="margin-bottom:5px;">
                                    <input class="input" type="text" name="contenido" placeholder="Descripción">
                                    <br><br>
                                    <div class="file-upload-wrapper">
                                        <input type="file" name="input-file-now" id="input-file-now" class="file-upload" />
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success">Agregar</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Descartar</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>                 
        </div>
        <div class="row py-3 table-responsive">
            <table class="table table-striped table-hover clickable-row sortable">
                <thead class="thead-dark">
                    <tr>
                        <th>Autor</th>
                        <th>Detalles</th>
                        <th>Fecha creación</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in informes %}
                    <tr>
                        <td>{{ i.nombre }} {{i.apellido}}</td>
                        <td>{{ i.contenido }}</td>
                        <td>{{ i.fecha.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>
                            <form action="{{url_for('views_api.ver_informe',id=i.id_informe)}}" method="GET">
                                <button class="btn btn-primary btn-sm" type="submit" id="acceder" value="{{i.id_informe}}">Acceder</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{url_for('views_api.hallazgos_de_informe',id_informe=i.id_informe)}}" method="GET">
                                <button class="btn btn-secondary btn-sm" type="submit" id="eliminar" value="{{i.id_informe}}">Hallazgos</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{url_for('views_api.eliminar_informe',id=i.id_informe)}}" method="POST">
                                <button class="btn btn-danger btn-sm" type="submit" id="eliminar" value="{{i.id_informe}}">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}