<div class="modal fade" id="modal_glosario" tabindex="-1" aria-labelledby="glosario" aria-describedby="ModalGlosarios" aria-hidden="true"">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" >
      <div class="modal-content">
         <div class="modal-header">
            <h2 class="modal-title" id="glosario">Glosario de Estados</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="container-fluid">
               <h3>Estados Globales</h3>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-green);"></i> Prístina</div>
                  <div class="col-sm-9">Elemento estructural no presenta evidencia de daño o se encuentra validado para no generar falla en su vida útil. </div>
               </div>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-yellow);"></i> Con daño</div>
                  <div class="col-sm-9">Condición local de daño, no hay evidencia de falla estructural. </div>
               </div>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-orange);"></i> Falla estructural leve</div>
                  <div class="col-sm-9">Se ha verificado una falla estructural menor o moderada y si existe evidencia que ésta se encuentra estable. </div>
               </div>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-red);"></i> Falla estructural grave</div>
                  <div class="col-sm-9">Se ha verificado una falla estructural Moderada o Severa, y no hay evidencia de su estabilidad de avance. </div>
               </div>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-purple);"></i> Crítico</div>
                  <div class="col-sm-9">Se ha verificado una falla estructural severa, no hay evidencia de su estabilidad y se evaluó posibilidad de colapso en mediano plazo. </div>
               </div>
               <h3 class="mt-5">Niveles de Seguridad</h3>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-green);"></i> Seguro</div>
                  <div class="col-sm-9">Sin seguimiento adicional ni restricciones.</div>
               </div>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-yellow);"></i> Seguro para operar</div>
                  <div class="col-sm-9">Con seguimiento y/o ejecución de medidas preventivas. </div>
               </div>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-red);"></i> Inseguro para libre circulación</div>
                  <div class="col-sm-9">Acceso restringido, se deben tomar medidas estabilizadoras urgentes. </div>
               </div>
               <div class="row py-1">
                  <div class="col-sm-3"><i class="bi bi-circle-fill" style="color: var(--bs-purple);"></i> Peligro</div>
                  <div class="col-sm-9">Inseguro para acceder y/o operar. </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>

