<div class="modal fade" id="modal_glosario" role="dialog" tabindex="-1" role="dialog" aria-labelledby="glosario_label" aria-hidden="true" data-backdrop="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg" >
         <div class="modal-content" role="document">
            <div class="modal-header">
               <h1 class="modal-title subtitle" id="exampleModalLabel">Glosario de Estados</h1>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
               <div class="container-fluid">
                  <h2 class="modal-title subtitle py-3"><strong>Estados Globales</strong></h2>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: green;"></i> Prístina</div>
                     <div class="col-sm-8">Elemento estructural no presenta evidencia de daño o se encuentra validado para no generar falla en su vida útil. </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: yellow;"></i> Con daño</div>
                     <div class="col-sm-8">Condición local de daño, no hay evidencia de falla estructural. </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: orange;"></i> Falla estructural leve</div>
                     <div class="col-sm-8">Se ha verificado una falla estructural menor o moderada y si existe evidencia que ésta se encuentra estable. </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: red;"></i> Falla estructural grave</div>
                     <div class="col-sm-8">Se ha verificado una falla estructural Moderada o Severa, y no hay evidencia de su estabilidad de avance. </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: purple;"></i> Crítico</div>
                     <div class="col-sm-8">Se ha verificado una falla estructural severa, no hay evidencia de su estabilidad y se evaluó posibilidad de colapso en mediano plazo. </div>
                  </div>
                  <h2 class="modal-title subtitle py-3"><strong>Niveles de Seguridad</strong></h2>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: green;"></i> Seguro</div>
                     <div class="col-sm-8">Sin seguimiento adicional ni restricciones.</div>
                  </div>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: yellow;"></i> Seguro para operar</div>
                     <div class="col-sm-8">Con seguimiento y/o ejecución de medidas preventivas. </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: red;"></i> Inseguro para libre circulación</div>
                     <div class="col-sm-8">Acceso restringido, se deben tomar medidas estabilizadoras urgentes. </div>
                  </div>
                  <div class="row py-1">
                     <div class="col-sm-4"><i class="bi bi-circle-fill" style="color: purple;"></i> Peligro</div>
                     <div class="col-sm-8">Inseguro para acceder y/o operar. </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
         </div>
      </div>
</div>
