<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
	<a class="align-items-center" href="{{ url_for('views_api.index') }}" id="logo-link">
		<img src="/static/images/logoSHMchile.png" id="shm-logo" class="rounded mx-auto d-block">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav" aria-controls="navbarNav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse dual-nav order-1 order-md-0">
		<ul class="navbar-nav">
		{% if current_user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link px-3" href="{{ url_for('views_api.profile') }}">Perfil</a>
			</li>
			<!--li class="nav-item">
				<a class="nav-link px-3" href="{{url_for('views_api.grupos_usuario')}}">Mis sensores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-3" href="{{url_for('views_api.informes_monitoreo_usuario')}}">Mis informes</a>
			</li-->			
			
			{% if current_user.permisos == "Administrador" %}
				<li class="nav-item">
					<a class="nav-link px-3" href="{{ url_for('views_api.administrar_usuarios') }}">Usuarios</a>
				</li>
			{% endif %}
		{% endif %}

		{% if not current_user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link px-3" href="{{ url_for('views_api.login') }}">Acceder</a>
			</li>
			<li class="nav-item">
				<a class="nav-link px-3" href="{{ url_for('views_api.signup') }}">Registrarse</a>
			</li>
		{% endif%}
		

		</ul>
	</div>
	<div class="navbar-collapse collapse dual-nav order-4 order-md-4 justify-content-end">
		<ul class="navbar-nav">
		{% if current_user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link px-3 text-right" href="{{ url_for('views_api.mi_cuenta') }}">Mi Cuenta</a>
			</li>
			<li class="nav-item">
			<a class="nav-link px-3" href="{{ url_for('views_api.logout') }}">Cerrar sesión</a>
			</li>
		{% endif %}
		</ul>
	</div>
</nav>