{% extends "base.html" %}

{% block customcss %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bg">
    <div class="px-5 py-5">    
        <div class="column is-4 is-offset-4">
            <h3 class="title">Nueva calibración para {{tipo_sensor}} N° {{id_sensor}}</h3>
            <div class="box">
                <form action="{{url_for('views_api.nueva_calibracion',x=id_sensor)}}" method="POST">
                    <!--Nueva calibracion-->
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="nueva_calibracion" placeholder="Detalles nueva calibración">
                        </div>
                    </div>
                    <button class="button is-block is-info is-fullwidth">Actualizar</button>
                </form>    
            </div>
        </div>
    </div>
</div>
{% endblock %}