{% extends "base.html" %}

{% block sidebar%}
  {% include 'navbar_admin.html'%}
{% endblock %}

{% block content %}

<!-- Modal for flask msgs -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="modal-msg" aria-hidden="true" aria-labelledby="modal-title" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    {% for category, message in messages %}
    <div class="modal-content {% if category == 'error' %} border-danger {% else %} border-success {% endif %}">
      <div class="modal-header ">
        <h5 class="modal-title" id="modal-title">{% if category == 'error' %}Error en la operación{% else %} Operación realizada exitosamente{%endif%}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="col-md-12 text-center">
        <span class="display-1 fw-bold d-block">{% if category == 'error' %}<i class="bi bi-exclamation-circle-fill text-danger"></i>{% else %}<i class="bi bi-check-circle-fill text-success"></i>{%endif%}</span>
        <div class="my-2 lead">
        {% if category == 'error' %}
          Se ha generado un error al realizar la operación en la Base de Datos. Por favor intentelo nuevamente. <p class="mt-3 fs-6">Si desea conocer los detalles del error, <a data-bs-toggle="collapse" href="#collapseMsg" role="button" aria-expanded="false" aria-controls="collapseExample">
          presione este enlace.</a> </p>
          <div class="collapse" id="collapseMsg">
            <div class="card card-body">
              <p class="font-monospace fs-6">{{message}}</p>
            </div>
          </div>
        {% else %}{{message}}
        {%endif%}
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  
{% endif %}
{% endwith %}

<!-- Modal for Leaflet map -->
<div class="modal fade" id="modal-map" tabindex="-1" aria-labelledby="LatLonLeaflet" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LatLonLeaflet">Asignar Latitud y Longitud</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map" class="ratio ratio-21x9"></div>
      </div>
      <div class="modal-footer">
        <p class="text-muted fs-6">Para asignar las coordenadas, haga click en el lugar donde se encuentra la estructura a ingresar.</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid px-3 py-1">
   <div class="d-flex py-2">
     <h2 >Gestión de Estructuras :: Añadir Nueva Estructura</h2>
   </div>
   <div class="p-2 card text-dark bg-light">
     <form id="update_form" class="row py-3" method="POST" action="{{url_for('views_api.crear_estructura')}}">
       <div class="col-6 ">
         <h5 class="border-bottom border-2 py-2">Detalles de Estructura</h5>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Nombre</span>
           <input name="nombre" type="text" class="form-control col-sm-8" id="nombre" placeholder="Ej: Bulnes " required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Rol</span>
           <input name="rol" type="text" class="form-control col-sm-8" id="Rol" placeholder="Ej: O-20 " required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Largo (metros)</span>
           <input name="largo" type="number" step="any" class="form-control col-sm-8" value=0 id="Largo" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Ancho Total (metros)</span>
           <input name="ancho_total" type="number" step="any" class="form-control col-sm-8" value=0 id="ancho_total" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Material de Estribo</span>
           <input name="mat_estrib" type="text" class="form-control col-sm-8" id="mat_estrib" placeholder="Ej: Madera" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Material de Pisos</span>
           <input name="piso" type="text" class="form-control col-sm-8" id="piso" placeholder="Ej: Madera" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Material de Vigas</span>
           <input name="mat_vigas" type="text" class="form-control col-sm-8" id="mat_vigas" placeholder="Ej: Madera" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Material de Cepas</span>
           <input name="mat_cepas" type="text" class="form-control col-sm-8" id="mat_cepas" placeholder="Ej: Madera" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Cantidad de Cepas</span>
           <input name="num_cepas" type="number" class="form-control col-sm-8" value=0  id="num_cepas" required/>
         </div>
       </div>
       <div class="col-6 ">
         <h5 class="border-bottom border-2 py-2">Detalles de Ubicación</h5>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Camino</span>
           <input name="nombre_camino" type="text" class="form-control col-sm-9" id="nombre_camino" placeholder="Ej: Ruta 5" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Cauce de quebrada</span>
           <input name="cauce_queb" type="text" class="form-control col-sm-9" id="cauce_queb" placeholder="Ej: Quebrada Honda" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Región</span>
           <input name="region" type="text" class="form-control col-sm-9" id="region" placeholder="Ej: Región del Bio Bio" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Provincia</span>
           <input name="provincia" type="text" class="form-control col-sm-9" id="provincia" placeholder="Ej: Provincia del Bio Bio" required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Latitud</span>
           <input name="coord_x" type="number" step="any"  class="form-control col-sm-9" id="coord_x" readonly required/>
         </div>
         <div class="input-group my-2 py-1">
           <span class="input-group-text col-sm-4">Longitud</span>
           <input name="coord_y" type="number" step="any"  class="form-control col-sm-9" id="coord_y" readonly required/>
         </div>
         <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modal-map">Asignar Latitud y Longitud</button>
       </div>
       <div class="d-grid justify-content-md-end">
         <button id="create-btn" type="submit" class="btn btn-outline-success px-4" >Crear Estructura</button>
       </div>
     </form>
   </div>

</div>


{% endblock %}

{% block customjs %}
  {{ super() }}
<script>
  $(document).ready(function(){
      
    function onMapClick(e) {
      if (marker_set){
        marker.setLatLng(e.latlng);
        }
      else{
        marker.setLatLng(e.latlng).addTo(map);
      }
      popup.setLatLng(e.latlng);
      popup.setContent("<p class='lead fs-6'>Latitud =" + e.latlng.lat + "<br>Longitud =" + e.latlng.lng + "</p>");
      popup.openOn(map);
      $('#coord_x').val(e.latlng.lat);
      $('#coord_y').val(e.latlng.lng);
    }  
    
    if($('#modal-msg').length){
        $('#modal-msg').modal('show');
    }else{
        ;
    }
    
    var map = new L.Map('map', {
    'layers': [
        L.tileLayer('https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=zZkrANgINoCERa0zI6td')]
    });
    
    map.setView([-36.906289,-72.398971],6);
    var popup = new L.popup();
    var marker = new L.marker();
    var marker_set = false; 
    map.on('click', onMapClick);
    
    //Reajuste de mapa al activar la ventana modal.
    $('#modal-map').on('shown.bs.modal', function(){
    setTimeout(function() {
        map.invalidateSize();
    }, 10);
    });
    
  });
</script>
{% endblock %}