{% extends "base.html" %}


{% block sidebar%}
  {% include 'navbar_admin.html'%}
{% endblock %}


{% block content %}

<!-- Modal for flask msgs -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="modal-msg" aria-hidden="true" aria-labelledby="modal-title" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    {% for category, message in messages %}
    <div class="modal-content {% if category == 'error' %} border-danger {% else %} border-success {% endif %}">
      <div class="modal-header ">
        <h5 class="modal-title" id="modal-title">{% if category == 'error' %}Error en la operación{% else %} Operación realizada exitosamente{%endif%}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="col-md-12 text-center">
        <span class="display-1 fw-bold d-block">{% if category == 'error' %}<i class="bi bi-exclamation-circle-fill text-danger"></i>{% else %}<i class="bi bi-check-circle-fill text-success"></i>{%endif%}</span>
        <div class="my-2 lead">
        {% if category == 'error' %}
          Se ha generado un error al realizar la operación en la Base de Datos. Por favor intentelo nuevamente. <p class="mt-3 fs-6">Si desea conocer los detalles del error, <a data-bs-toggle="collapse" href="#collapseMsg" role="button" aria-expanded="false" aria-controls="collapseExample">
          presione este enlace.</a> </p>
          <div class="collapse" id="collapseMsg">
            <div class="card card-body">
              <p class="font-monospace fs-6">{{message}}</p>
            </div>
          </div>
        {% else %}{{message}}
        {%endif%}
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  
{% endif %}
{% endwith %}

<!-- Modal for Leaflet map -->
<div class="modal fade" id="modal-map" tabindex="-1" aria-labelledby="LatLonLeaflet" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LatLonLeaflet">Asignar Latitud y Longitud</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map" class="ratio ratio-21x9"></div>
      </div>
      <div class="modal-footer">
        <p class="text-muted fs-6">Para asignar las coordenadas, haga click en el lugar donde se encuentra la estructura a ingresar.</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid px-3 py-1">
   <div class="d-flex py-2">
     <h2>Gestión de Estructuras :: Actualizar o Eliminar Estructura Existente</h2>
   </div>
   
   <div class="p-2 card text-dark bg-light">
     <h5>Cantidad de Estructuras Ingresadas: {{puentes|count}}</h5>
     <div class="py-3">
       <div class="input-group">
         <input id="select_puente" class="form-control" name="autocomplete" placeholder="Buscar estructura" required list="estructuras" aria-label="Seleccion Puente"/>
         <datalist id="estructuras">
            {% for i in puentes %}
            <option data-value="{{i.id}}">{{i.id}} - {{ i.nombre }} - {{ i.provincia }}, {{ i.region }}</option>
            {% endfor %}    
         </datalist>
         <button id="search-btn" class="btn btn-primary btn-md">
         Buscar
         </button>
      </div>
      <div class="py-3" id="result"></div>
   </div>
</div>


{% endblock %}

{% block customjs %}
  {{ super() }}
<script>
  $(document).ready(function(){
    
    function load_data(id_estructura)
    {
      $.ajax(
      {
        url:"/gestion/estructura/retrieve/" + id_estructura,
        method:"POST",
        success:function(data)
          {
            $('#result').html(data);
            $('#result').append(data.htmlresponse);
          }
      });
    }
      
    function onMapClick(e) {
      if (marker_set){
        marker.setLatLng(e.latlng);
        }
      else{
        marker.setLatLng(e.latlng).addTo(map);
      }
      popup.setLatLng(e.latlng);
      popup.setContent("<p class='lead fs-6'>Latitud =" + e.latlng.lat + "<br>Longitud =" + e.latlng.lng + "</p>");
      popup.openOn(map);
      $('#coord_x').val(e.latlng.lat);
      $('#coord_y').val(e.latlng.lng);
    }  
    
    $('#search-btn').click(function(e)
    {
      e.preventDefault();
      var id_puente = $('#select_puente').val();
      var data = id_puente.split(" ",1);
      load_data(data);
    }); 
    
    $('#update-btn').click(function(e)
    {
      $('#update_form').submit();
    }); 
    
    if($('#modal-msg').length){
        $('#modal-msg').modal('show');
    }else{
        ;
    }
    
    var map = new L.Map('map', {
    'layers': [
        L.tileLayer('https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=zZkrANgINoCERa0zI6td')]
    });
    
    map.setView([-36.906289,-72.398971],6);
    var popup = new L.popup();
    var marker = new L.marker();
    var marker_set = false; 
    map.on('click', onMapClick);
    
    //Reajuste de mapa al activar la ventana modal.
    $('#modal-map').on('shown.bs.modal', function(){
    setTimeout(function() {
        map.invalidateSize();
    }, 10);
    });
    
  });
</script>
{% endblock %}