{% extends "base.html" %}

{% block sidebar%}
  {% include 'navbar_admin.html'%}
{% endblock %}

{% block content %}

<div class="container-fluid px-3 py-1">
  <div class="d-flex py-2">
     <h2 >Gestión de Thingsboard :: Acceder a Panel Thingsboard</h2>
   </div>
  <div class="p-2 my-3 card text-dark bg-light">
    <form class="py-1" method="POST" action="#">
        <table class="table table-hover table-bordered border-1" > 
          <thead class="table-dark">
            <tr>
              <th data-field="Rol" data-sortable="true">Rol</th>
              <th data-field="Nombre" data-sortable="true">Nombre</th>
              <th data-field="Region" data-sortable="true">Region</th>
            </tr>
          </thead>
          <tbody>
            {%for i in puentes %}
            {%if i.en_monitoreo%}
            <tr>
              <th><span class="badge bg-dark">{{i.rol}}</span></th>
              <td><a href="{{i.ip_instancia + '/deviceprofiles'}}">{{i.nombre}}</a></td>
              <td>{{ i.region }}</td>
            </tr>
            {%endif%}
            {% endfor %}
          </tbody>
        </table>
    </form>
  </div>
</div>
</div>


{% endblock %}

{% block customjs%}
    {{ super() }}
  <script src="{{ url_for('static', filename='js/tableExport.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-table.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-table-locale-all.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-table-export.min.js')}}"></script>
{% endblock %}
