{% extends "base.html" %}

{% block content %}

<!-- Modal for flask msgs -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="modal-msg" aria-hidden="true" aria-labelledby="modal-title" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    {% for category, message in messages %}
    <div class="modal-content {% if category == 'error' %} border-danger {% else %} border-success {% endif %}">
      <div class="modal-header ">
        <h5 class="modal-title" id="modal-title">{% if category == 'error' %}Error en la operación{% else %} Operación realizada exitosamente{%endif%}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="col-md-12 text-center">
        <span class="display-1 fw-bold d-block">{% if category == 'error' %}<i class="bi bi-exclamation-circle-fill text-danger"></i>{% else %}<i class="bi bi-check-circle-fill text-success"></i>{%endif%}</span>
        <div class="my-2 lead">
        {% if category == 'error' %}
          Se ha generado un error al realizar la operación en la Base de Datos. Por favor intentelo nuevamente. <p class="mt-3 fs-6">Si desea conocer los detalles del error, <a data-bs-toggle="collapse" href="#collapseMsg" role="button" aria-expanded="false" aria-controls="collapseExample">
          presione este enlace.</a> </p>
          <div class="collapse" id="collapseMsg">
            <div class="card card-body">
              <p class="font-monospace fs-6">{{message}}</p>
            </div>
          </div>
        {% else %}{{message}}
        {%endif%}
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  
{% endif %}
{% endwith %}

<!-- Modal for Leaflet map -->
<div class="modal fade" id="modal-map" tabindex="-1" aria-labelledby="LatLonLeaflet" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LatLonLeaflet">Asignar Latitud y Longitud</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map" style="height:500px;"></div>
      </div>
      <div class="modal-footer">
        <p class="text-muted fs-6">Para asignar las coordenadas, haga click en el lugar donde se encuentra la estructura a ingresar.</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid px-4 py-2">
   <h1 class="py-2">Panel de Administración :: Estructuras</h1>
   <h4>
   <span class="badge bg-light text-dark border">A</span> Crear Nueva Estructura
   </h4>
   <div class="accordion" id="form-accordion">
      <div class="accordion-item">
         <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#form-puente" aria-expanded="true" aria-controls="collapse-form">
            Formulario Nueva Estructura
            </button>
         </h2>
         <div id="form-puente" class="accordion-collapse collapse show fs-5" aria-labelledby="headingOne" data-bs-parent="#form-accordion">
            <div class="accordion-body">
               <form id="update_form" class="row py-3" method="POST" action="{{url_for('views_api.crear_estructura')}}">
                  <div class="col-6">
                     <h4 class="border-bottom border-2 py-2">Detalles de Estructura</h4>
                     <div class="mb-1 row">
                        <label for="nombre" class="col-sm-3 col-form-label col-form-label-md ">Nombre</label>
                        <div class="col-sm-9">
                           <input name="nombre" type="text" class="form-control col-sm-9" id="nombre" required/>
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="Rol" class="col-sm-3 col-form-label col-form-label-md ">Rol</label>
                        <div class="col-sm-9">
                           <input name="rol" type="text" class="form-control col-sm-9" id="Rol" required/>
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="Largo" class="col-sm-3 col-form-label col-form-label-md ">Largo</label>
                        <div class="col-sm-9">
                           <input name="largo" type="number" step="any" class="form-control col-sm-9" value=0 id="Largo" />
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="ancho_total" class="col-sm-3 col-form-label col-form-label-md ">Ancho Total</label>
                        <div class="col-sm-9">
                           <input name="ancho_total" type="number" step="any" class="form-control col-sm-9" value=0 id="ancho_total" />
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="mat_estrib" class="col-sm-3 col-form-label col-form-label-md ">Estribo</label>
                        <div class="col-sm-9">
                           <input name="mat_estrib" type="text" class="form-control col-sm-9" id="mat_estrib" />
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="piso" class="col-sm-3 col-form-label col-form-label-md ">Piso</label>
                        <div class="col-sm-9">
                           <input name="piso" type="text" class="form-control col-sm-9" id="piso" />
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="mat_vigas" class="col-sm-3 col-form-label col-form-label-md ">Vigas</label>
                        <div class="col-sm-9">
                           <input name="mat_vigas" type="text" class="form-control col-sm-9" id="mat_vigas" />
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <p class="col-sm-3 col-form-label col-form-label-md ">Cepas</p>
                        <div class="col-sm-9 row">
                           <label for="num_cepas" class="col-sm-3 col-form-label col-form-label-md " >Cantidad</label>
                           <div class="col-sm-9">
                              <input name="num_cepas" type="number" class="form-control col-sm-9" value=0  id="num_cepas" />
                           </div>
                           <label for="mat_cepas" class="col-sm-3 col-form-label col-form-label-md ">Material</label>
                           <div class="col-sm-9">
                              <input name="mat_cepas" type="text" class="form-control col-sm-9" id="mat_cepas" />
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-6">
                     <h4 class="border-bottom border-2 py-2">Detalles de Ubicación</h4>
                     <div class="mb-1 row">
                        <label for="nombre_camino" class="col-sm-3 col-form-label col-form-label-md ">Camino</label>
                        <div class="col-sm-9">
                           <input name="nombre_camino" type="text" class="form-control col-sm-9" id="nombre_camino" />
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="cauce_queb" class="col-sm-3 col-form-label col-form-label-md ">Cauce de quebrada</label>
                        <div class="col-sm-9">
                           <input name="cauce_queb" type="text" class="form-control col-sm-9" id="cauce_queb" />
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="region" class="col-sm-3 col-form-label col-form-label-md ">Región</label>
                        <div class="col-sm-9">
                           <input name="region" type="text" class="form-control col-sm-9" id="region" required/>
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="provincia" class="col-sm-3 col-form-label col-form-label-md ">Provincia</label>
                        <div class="col-sm-9">
                           <input name="provincia" type="text" class="form-control col-sm-9" id="provincia" required/>
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="coord_x" class="col-sm-3 col-form-label col-form-label-md ">Latitud</label>
                        <div class="col-sm-9">
                           <input name="coord_x" type="number" step="any"  class="form-control col-sm-9" id="coord_x" readonly required/>
                        </div>
                     </div>
                     <div class="mb-1 row">
                        <label for="coord_y" class="col-sm-3 col-form-label col-form-label-md ">Longitud</label>
                        <div class="col-sm-9">
                           <input name="coord_y" type="number" step="any"  class="form-control col-sm-9" id="coord_y" readonly required/>
                        </div>
                     </div>
                     <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#modal-map">
                      Asignar Latitud y Longitud
                     </button>
                  </div>
                  <div class="d-grid justify-content-md-end">
                     <button id="create-btn" type="submit" class="btn btn-outline-success px-4" >Crear Estructura</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <h4 class="py-2 mt-4">
   <span class="badge bg-light text-dark border">B</span> Modificar Estructura Existente
   </h4>
   <h5>Cantidad de registros: {{puentes|count}}</h5>
   <div class="py-3">
      <div class="input-group">
         <input id="select_puente" class="form-control" name="autocomplete" placeholder="Buscar estructura" required list="estructuras" aria-label="Seleccion Puente"/>
         <datalist id="estructuras">
            {% for i in puentes %}
            <option data-value="{{i.id}}">{{i.id}} - {{ i.nombre }} - {{ i.provincia }}, {{ i.region }}</option>
            {% endfor %}    
         </datalist>
         <button id="search-btn" class="btn btn-primary btn-md">
         Buscar
         </button>
      </div>
      <div class="py-3" id="result"></div>
   </div>
</div>


{% endblock %}

{% block customjs %}
  {{ super() }}
<script>
  $(document).ready(function(){
    
    function load_data(id_estructura)
    {
      $.ajax(
      {
        url:"/gestion/estructura/retrieve/" + id_estructura,
        method:"POST",
        success:function(data)
          {
            $('#result').html(data);
            $('#result').append(data.htmlresponse);
          }
      });
    }
      
    function onMapClick(e) {
      if (marker_set){
        marker.setLatLng(e.latlng);
        }
      else{
        marker.setLatLng(e.latlng).addTo(map);
      }
      popup.setLatLng(e.latlng);
      popup.setContent("<p class='lead fs-6'>Latitud =" + e.latlng.lat + "<br>Longitud =" + e.latlng.lng + "</p>");
      popup.openOn(map);
      $('#coord_x').val(e.latlng.lat);
      $('#coord_y').val(e.latlng.lng);
    }  
    
    $('#search-btn').click(function(e)
    {
      e.preventDefault();
      var id_puente = $('#select_puente').val();
      var data = id_puente.split(" ",1);
      load_data(data);
    }); 
    
    $('#update-btn').click(function(e)
    {
      $('#update_form').submit();
    }); 
    
    if($('#modal-msg').length){
        $('#modal-msg').modal('show');
    }else{
        ;
    }
    
    var map = new L.Map('map', {
    'layers': [
        L.tileLayer('https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=zZkrANgINoCERa0zI6td')]
    });
    
    map.setView([-36.906289,-72.398971],6);
    var popup = new L.popup();
    var marker = new L.marker();
    var marker_set = false; 
    map.on('click', onMapClick);
    
    //Reajuste de mapa al activar la ventana modal.
    $('#modal-map').on('shown.bs.modal', function(){
    setTimeout(function() {
        map.invalidateSize();
    }, 10);
    });
    
  });
</script>
{% endblock %}