{% extends "base.html" %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css"/>
{% endblock %}

{% block sidebar%}
  {% include 'navbar_admin.html'%}
{% endblock %}

{% block content %}

<!-- Modal for flask msgs -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="modal-msg" aria-hidden="true" aria-labelledby="modal-title" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    {% for category, message in messages %}
    <div class="modal-content {% if category == 'error' %} border-danger {% else %} border-success {% endif %}">
      <div class="modal-header ">
        <h5 class="modal-title" id="modal-title">{% if category == 'error' %}Error en la operación{% else %} Operación realizada exitosamente{%endif%}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="col-md-12 text-center">
        <span class="display-1 fw-bold d-block">{% if category == 'error' %}<i class="bi bi-exclamation-circle-fill text-danger"></i>{% else %}<i class="bi bi-check-circle-fill text-success"></i>{%endif%}</span>
        <div class="my-2 lead">
        {% if category == 'error' %}
          Se ha generado un error al realizar la operación en la Base de Datos. Por favor intentelo nuevamente. <p class="mt-3 fs-6">Si desea conocer los detalles del error, <a data-bs-toggle="collapse" href="#collapseMsg" role="button" aria-expanded="false" aria-controls="collapseExample">
          presione este enlace.</a> </p>
          <div class="collapse" id="collapseMsg">
            <div class="card card-body">
              <p class="font-monospace fs-6">{{message}}</p>
            </div>
          </div>
        {% else %}{{message}}
        {%endif%}
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  
{% endif %}
{% endwith %}

<div class="modal fade" id="before_init" tabindex="-1" aria-labelledby="before_init_abel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="before_init_abel">Antes de comenzar </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          Al iniciar el monitoreo de la estructura, se configurará el sistema basado en la información presente en THINGSBOARD. Por ello se recomienda  revisar los siguientes aspectos:
          <div class="row py-1 mt-5">
            <div class="col-sm-3"><strong>Instancia Thingsboard:</strong></div>
            <div class="col-sm-9">
              <p><i class="bi bi-asterisk"></i> La instancia debe estar en funcionamiento y se debe poder acceder a ella mediante dirección URL/IP.</p>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-sm-3"><strong>Elementos Estructurales:</strong></div>
            <div class="col-sm-9">
              <p><i class="bi bi-asterisk"></i> Los Elemento Estructurales deben estar declarados en cada uno de los dispositivos.<br>
               Para declararlos, acceda en Thingsboard a <strong>Dispositivos</strong> -> <strong>Seleccione un elemento</strong> -> <strong>Atributos</strong> -> <strong>Atributos de Servidor</strong> y cree un nuevo Atributo.<br>
              La Clave debe ser <strong>"Elemento Estructural"</strong> y su tipo debe ser <strong>"Cadena de Texto"</strong>. En Valor ingrese el nombre del elemento estructural.
            </div>
          </div>
          <div class="row py-1">
            <div class="col-sm-3"><strong>Sensores:</strong></div>
            <div class="col-sm-9">
              <p><i class="bi bi-asterisk"></i> Los sensores deben poseer un <strong>Nombre</strong> y <strong>Perfil de Dispositivo</strong> bien definido. Dentro de sus atributos deben estar <strong>Canal</strong>, <strong>Frecuencia</strong> y <strong>Elemento Estructural</strong>.<br>
             Para ingresar estos atributos, se sigue lo mencionado anteriormente en "Elemento Estructural", considerando como claves adicionales <strong>"Canal"</strong> y <strong>"Frecuencia"</strong> respectivamente, con un tipo de dato <strong>"Nro Entero"</strong>.</p>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-sm-3"><strong>DAQs:</strong></div>
            <div class="col-sm-9">
              <p><i class="bi bi-asterisk"></i> Los DAQs deben definir su Perfil de Dispositivo como <strong>"daq"</strong> y contar con la información del <strong>"Número de Canales"</strong> como atributo. <br>
              Para ello, debe considerar como Clave, en adición a "Elemento Estructural", <strong>"Canales"</strong> con un tipo de dato <strong>"Nro Entero"</strong>.</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="#" class="btn btn-primary">Continuar con la operación</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid px-3 py-1">

   <div class="d-flex py-2">
     <h2>Gestión de Monitoreos :: Iniciar Nuevo Monitoreo</h2>
   </div>
   <div class="p-2 my-3 card">
     <table class="table table-hover w-100 row-border" 
        id="myTableGeneral"> 
          <thead class="table-dark">
            <tr>
              <th class="col-1" data-field="Rol" data-sortable="true">Rol</th>
              <th class="col-3" data-field="Nombre" data-sortable="true">Nombre</th>
              <th class="col-3" data-field="Region" data-sortable="true">Región</th>
              <th class="col-3" data-field="Provincia" data-sortable="true">Provincia</th>
              <th class="col-2" data-field="Monitoreo" data-sortable="true">Monitoreo</th>
            </tr>
          </thead>
     </table>
   </div>
</div>


{% endblock %}

{% block customjs %}
  {{ super() }}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
  
  $(document).ready(function(){
    $('#myTableGeneral').DataTable( {
    ajax: "{{url_for('views_api.cargar_estructuras_ajax')}}",
    columns: [
        { data: 'Rol',
          render: function(data) {
            return '<span class="fs-6 badge bg-dark me-3">' + data + '</span>';
          } 
        },
        { data: 'Nombre', render: function ( data){ return data.nombre;} },
        { data: 'Region' },
        { data: 'Provincia'},
        { data: 'Monitoreo',
          render: function ( data, row ) {
            if(!data.monitoreo){
              return  '<div class="d-grid gap-2"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#before_init" data-bs-structurename="'+ data.nombre +'" data-bs-structureroute="' + data.ruta + '">Iniciar Monitoreo</button>';
            }
            else{
              return '<div class="d-grid gap-2"><button type="button" class="btn btn-primary " disabled> En Monitoreo</button></div>';
            }
          }
        }  
    ],
    language: {
        url: "{{ url_for('static', filename='i18n/es_es.json') }}"
    }
  } );
    

    if($('#modal-msg').length){
        $('#modal-msg').modal('show');
    }else{
        ;
    }
    
    $('#menu-btn').click(function(e)
    {
      $('#sidebar').toggleClass("active-nav");
      $('#sidebar').toggleClass("position-fixed")
      $('.my-container').toggleClass("active-cont");
    }); 
    
    var before_init_modal = document.getElementById('before_init');
    before_init_modal.addEventListener('show.bs.modal', function (event) {
  
      var button = event.relatedTarget;
  
      var name = button.getAttribute('data-bs-structurename');
      var route = button.getAttribute('data-bs-structureroute');
  
      var modalTitle = before_init_modal.querySelector('.modal-title');
      var modalBodybutton = before_init_modal.querySelector('.modal-footer a');

      modalTitle.textContent = 'Antes de comenzar: Puente ' + name;
      modalBodybutton.href = route;
    });
    
  });
</script>
{% endblock %}