{% extends "base.html" %}

{% block customcss %}
    <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Modal for flask msgs -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="modal-msg" aria-hidden="true" aria-labelledby="modal-title" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    {% for category, message in messages %}
    <div class="modal-content {% if category == 'error' %} border-danger {% else %} border-success {% endif %}">
      <div class="modal-header ">
        <h5 class="modal-title" id="modal-title">{% if category == 'error' %}Error en la operación{% else %} Operación realizada exitosamente{%endif%}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="col-md-12 text-center">
        <span class="display-1 fw-bold d-block">{% if category == 'error' %}<i class="bi bi-exclamation-circle-fill text-danger"></i>{% else %}<i class="bi bi-check-circle-fill text-success"></i>{%endif%}</span>
        <div class="my-2 lead">
        {% if category == 'error' %}
          Se ha generado un error al realizar la operación en la Base de Datos. Por favor intentelo nuevamente. <p class="mt-3 fs-6">Si desea conocer los detalles del error, <a data-bs-toggle="collapse" href="#collapseMsg" role="button" aria-expanded="false" aria-controls="collapseExample">
          presione este enlace.</a> </p>
          <div class="collapse" id="collapseMsg">
            <div class="card card-body">
              <p class="font-monospace fs-6">{{message}}</p>
            </div>
          </div>
        {% else %}{{message}}
        {%endif%}
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  
{% endif %}
{% endwith %}


{% block sidebar%}
{% endblock %}

{% include 'sidebar.html'%}
<section class="my-container active-cont px-3">
   <div class="d-flex py-2">
     <button type="button" class="btn btn-primary me-3" id="menu-btn"><i class="bi bi-layout-sidebar"></i></button>
     <h1 >Gestión de Dispositivos</h1>
   </div>
   <h4 class="py-2 mt-4"> Buscar dispositivos desde estructuras monitoreadas</h4>
   <div class="py-3">
      <div class="input-group">
        <select id="select_puente" class="form-select" name="autocomplete" placeholder="Buscar estructura" required aria-label="Seleccion Puente">
          {% for i in puentes %}
            <option value="{{i.id}}">{{i.rol}} - {{ i.nombre }} - {{ i.provincia }}, {{ i.region }}</option>
          {% endfor %}  
        </select>
        <button id="search-btn" class="btn btn-primary btn-md">
         Buscar
        </button>
      </div>
      <div class="py-3" id="result"></div>
   </div>
</section>


{% endblock %}

{% block customjs %}
  {{ super() }}
<script>
  $(document).ready(function(){
    
    function load_data(id_estructura)
    {
      $.ajax(
      {
        url:"/gestion/dispositivos/retrieve/" + id_estructura,
        method:"POST",
        success:function(data)
          {
            $('#result').html(data);
            $('#result').append(data.htmlresponse);
          }
      });
    }
    
    $('#search-btn').click(function(e)
    {
      e.preventDefault();
      var id_puente = $('#select_puente').val();
      var data = id_puente.split(" ",1);
      load_data(data);
    }); 
    

    if($('#modal-msg').length){
        $('#modal-msg').modal('show');
    }else{
        ;
    }
    
    $('#menu-btn').click(function(e)
    {
      $('#sidebar').toggleClass("active-nav");
      $('#sidebar').toggleClass("position-fixed")
      $('.my-container').toggleClass("active-cont");
    }); 
    
  });
</script>
{% endblock %}