{% extends "base.html" %}

{% block sidebar%}
  {% include 'navbar_admin.html' %}
{%endblock%}

{% block content %}
<div class="container-fluid px-3 py-1">
   <div class="row row-cols-1 row-cols-md-4 g-4">
     <div class="col">
       <div class="card h-100 border-primary">
         <div class="card-body text-center">
           <span class="display-2 fw-bold d-block"><i class="bi bi-people-fill text-primary"></i></span>
           <p class="fs-5 lead text-decoration-none mt-2">Gestión de Usuarios</p>
         </div>
         <div class="card-body">
           <div class="list-group">
             <a href="{{ url_for('views_api.administrar_usuarios') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Administrar usuarios existentes</a>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card h-100 border-primary">
         <div class="card-body text-center">
           <span class="display-2 fw-bold d-block"><i class="bi bi-building text-primary"></i></span>
           <p class="fs-5 lead text-decoration-none mt-2">Gestión de Estructuras</p>
         </div>
         <div class="card-body">
           <div class="list-group">
             <a href="{{ url_for('views_api.administrar_estructura_creacion') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Añadir Nueva Estructura</a>
             <a href="{{ url_for('views_api.administrar_estructura_modificacion') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Actualizar o Eliminar Estructura Existente</a>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card h-100 border-primary">
         <div class="card-body text-center">
           <span class="display-2 fw-bold d-block"><i class="bi bi-bricks text-primary"></i></span>
           <p class="fs-5 lead text-decoration-none mt-2">Gestión de Elementos Estructurales</p>
         </div>
         <div class="card-body">
           <div class="list-group">
             <a href="{{ url_for('views_api.administrar_tipos_elementos') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Añadir Tipos de Elemento Estructural</a>
             <a href="{{ url_for('views_api.administrar_elementos_creacion') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Añadir Elementos Estructurales</a>
             <a href="{{ url_for('views_api.administrar_elementos_modificacion') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Editar y Eliminar Elementos Estructurales</a>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card h-100 border-primary">
         <div class="card-body text-center">
           <span class="display-2 fw-bold d-block"><i class="bi bi-cpu-fill text-primary"></i></span>
           <p class="fs-5 lead text-decoration-none mt-2">Gestión de Dispositivos</p>
         </div>
         <div class="card-body">
           <div class="list-group">
             <a href="{{ url_for('views_api.administrar_dispositivos') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Gestionar Dispositivos de Estructuras en Monitoreo</a>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card h-100 border-primary">
         <div class="card-body text-center">
           <span class="display-2 fw-bold d-block"><i class="bi bi-gear-wide text-primary"></i></span>
           <p class="fs-5 lead text-decoration-none mt-2">Gestión de Thingsboard</p>
         </div>
         <div class="card-body">
           <div class="list-group">
             <a href="{{ url_for('views_api.administrar_thingsboard') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Acceder a Panel Thingsboard</a>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card h-100 border-primary">
         <div class="card-body text-center">
           <span class="display-2 fw-bold d-block"><i class="bi bi-binoculars-fill text-primary"></i></span>
           <p class="fs-5 lead text-decoration-none mt-2">Gestión de Monitoreos</p>
         </div>
         <div class="card-body">
           <div class="list-group">
             <a href="{{ url_for('views_api.administrar_monitoreos') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Iniciar Nuevo Monitoreo</a>
             <a href="{{ url_for('views_api.administrar_monitoreos_configurados') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Actualizar Parámetros de Monitoreo Vigente</a>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card h-100 border-primary">
         <div class="card-body text-center">
           <span class="display-2 fw-bold d-block"><i class="bi bi-sliders text-primary"></i></span>
           <p class="fs-5 lead text-decoration-none mt-2">Gestión de Parámetros AR</p>
         </div>
         <div class="card-body">
           <div class="list-group">
             <a href="{{ url_for('views_api.administrar_parametros') }}" class="list-group-item fs-6 lead list-group-item-action list-group-item-primary">Editar Parámetros de Detección Temprana por Estructura</a>
           </div>
         </div>
       </div>
     </div>
   </div>
</div>


{% endblock %}