{% extends 'base.html' %}

{% block customcss %}
    {{ super() }}
	<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="loginbox">
        <div class="box">
            <h3 class="title">
                Reestablecer contraseña
            </h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <p>
                Por favor ingrese el correo electrónico asociado a su cuenta. Recibirá instrucciones para reestablecer su contraseña.
            </p>
            <form method="POST">
                <input type="email" name="email" id="email" class="form-control" required placeholder="Dirección de correo electrónico">
                <br>
                <button type="submit" class="btn btn-primary w-25">
                    Enviar
                </button>
            </form>
        </div>
    </div>
{% endblock %}