{% extends "base.html" %}

{% block customcss %}
	{{ super() }}
 <link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
 <link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid px-4 py-4">
	<h1 class="d-flex justify-content-center py-2">Plataforma de Monitoreo de Salud Estructural de Puentes</h1>
  <nav class="px-3">
    <div class="row border-bottom">
        <div class="nav nav-pills mb-3 col-9" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="pill" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">Todas</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="pill" href="#nav-monitoreada" role="tab" aria-controls="nav-monitoreada" aria-selected="false">En Monitoreo</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="pill" href="#nav-alerta" role="tab" aria-controls="nav-alerta" aria-selected="false">Bajo Alerta</a>
        </div>
        <div class="col-3">
            <form class="d-grid gap-2" action="{{url_for('views_api.mapa')}}">
                <button class="btn btn-outline-primary btn-lg text-wrap h-75">
                    <p class="text-start"><i class="bi bi-map me-3"></i> Busqueda en Mapa</p>
                </button>
            </form>
        </div>
    </div>
  </nav>
  
  <div class="tab-content mt-1" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
      <form method="POST" action="{{url_for('views_api.buscar_estructura')}}">
        <table class="table table-hover table-borderless " 
        id="myTable"
        data-toggle="table"
        data-search="true"
        data-show-columns="true"
        data-pagination="true"
        data-sortable="true"
        data-page-size="15"

        data-locale="es-CL"> 
          <thead class="table-dark">
            <tr>
              <th data-field="Rol" data-sortable="true">Rol</th>
              <th data-field="Nombre" data-sortable="true">Nombre</th>
              <th data-field="Region" data-sortable="true">Región</th>
              <th data-field="Alerta" data-sortable="true">Estado de Alerta</th>
              <th data-field="Fecha_alerta" data-sortable="true">Fecha Estado Alerta</th>
              <th data-field="Global" data-sortable="true">Estado Global</th>
              <th data-field="Seg" data-sortable="true">Estado de Seguridad</th>
              <th data-field="Fecha_globseg" data-sortable="true">Fecha Estado Global y Seguridad</th>
            </tr>
          </thead>
          <tbody>
  		      {%for i in puentes %}
            <tr class='clickable-row' data-href="{{url_for('views_api.informacion_estructura', id=i.id)}}">
              <th><span class="badge bg-dark">{{i.rol}}</span></th>
              <td><a href="{{url_for('views_api.informacion_estructura', id=i.id)}}">{{i.nombre}}</a></td>
              <td>{{ i.region }}</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
            </tr>
    	      {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
    <div class="tab-pane fade" id="nav-monitoreada" role="tabpanel" aria-labelledby="nav-monitoreada-tab">
    <form method="POST" action="{{url_for('views_api.buscar_estructura')}}">
        <table class="table table-hover table-bordered border-1 px-3" 
        id="myTable"
        data-toggle="table"
        data-search="true"
        data-sortable="true"
        data-pagination="true"
        data-page-size="15"
        data-show-columns="true"
        data-locale="es-CL"> 
          <thead class="table-dark">
            <tr>
              <th data-field="Nombre" data-sortable="true">Nombre</th>
              <th data-field="Region" data-sortable="true">Región</th>
              <th data-field="Alerta" data-sortable="true">Estado de Alerta</th>
              <th data-field="Fecha_alerta" data-sortable="true">Fecha Estado Alerta</th>
              <th data-field="Global" data-sortable="true">Estado Global</th>
              <th data-field="Seg" data-sortable="true">Estado de Seguridad</th>
              <th data-field="Fecha_globseg" data-sortable="true">Fecha Estado Global y Seguridad</th>
            </tr>
          </thead>
          <tbody>
  		      {%for i in puentes %}
            {%if i.en_monitoreo%}
            <tr class='clickable-row' data-href="{{url_for('views_api.informacion_estructura', id=i.id)}}">
              <td><a href="{{url_for('views_api.informacion_estructura', id=i.id)}}">{{i.nombre}}</a></td>
              <td>{{ i.region }}</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
            </tr>
            {%endif%}
    	      {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
    <div class="tab-pane fade" id="nav-alerta" role="tabpanel" aria-labelledby="nav-alerta-tab">
    <form method="POST" action="{{url_for('views_api.buscar_estructura')}}">
        <table class="table table-hover table-bordered border-1 px-3" 
        id="myTable"
        data-toggle="table"
        data-search="true"
        data-sortable="true"
        data-pagination="true"
        data-show-columns="true"
        data-page-size="15"
        data-locale="es-CL"> 
          <thead class="table-dark">
            <tr>
              <th data-field="Nombre" data-sortable="true">Nombre</th>
              <th data-field="Region" data-sortable="true">Región</th>
              <th data-field="Alerta" data-sortable="true">Estado de Alerta</th>
              <th data-field="Fecha_alerta" data-sortable="true">Fecha Estado Alerta</th>
              <th data-field="Global" data-sortable="true">Estado Global</th>
              <th data-field="Seg" data-sortable="true">Estado de Seguridad</th>
              <th data-field="Fecha_globseg" data-sortable="true">Fecha Estado Global y Seguridad</th>
            </tr>
          </thead>
          <tbody>
          
          </tbody>
        </table>
      </form>
    </div>
  </div>
	</div>
</div>
{% endblock %}

{% block customjs%}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/tableExport.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-table.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-table-locale-all.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-table-export.min.js')}}"></script>  
  <script>
{% endblock %}