<!-- templates/signup.html -->

{% extends "base.html" %}

{% block customcss %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
    <style>
        h1{ 
            text-align: center; 
        }
        .bg{ 
            min-height:100%; display:flex;
        }
    </style>    
{% endblock %}

{% block content %}
<div class="bg">
    <div class="box">
        <h3 class="title">Registrarse</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('views_api.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="firstname" placeholder="Nombre" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="lastname" placeholder="Apellido">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="mail" placeholder="Correo">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Contraseña">
                </div>
            </div>
            <!--div class="field">
                <select class="custom-select" id="permisos" name="permisos">
                    <option value="" style="display:none;">Permisos</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Dueño">Dueño</option>
                    <option value="Analista">Analista</option>
                    <option value="Visita">Visita</option>
                  </select>
            </div-->
            <button class="button is-block is-info is-large is-fullwidth">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}

{% block customjs %}
    {{ super() }}
    <script>
        $(function(){
            $(".dropdown-menu a").click(function(){
                $(".btn:first-child").text($(this).text());
                $(".btn:first-child").val($(this).text());
            });
        });
    </script>
{% endblock %}