<table class="table table-bordered table-responsive-md border-1 sortable">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Zona</th>
            <th>Operatividad (1)</th>
            <th>Mantenimiento (2)</th>
            <th>Fecha Estados (1,2)</th>
        </tr>
    </thead>
    <tbody id="daq_data">
    {%if daqs %}
        {% for daq in daqs %}
        <tr>
            <td>{{ daq.id_daq }}</td>
            <td>[POR DEFINIR]</td>
            <td>{{ daq.id_zona }}</td>
            <td>[POR DEFINIR]</td>
            <td>[POR DEFINIR]</td>
            <td>[POR DEFINIR]</td>
        </tr>
        {%endfor%}
    {%else%}
      <tr>
          <td>{{ datos_puente.tipo_activo }}</td>
      </tr>
    {%endif%}
    </tbody>
</table>
