<table class="table table-bordered border-1 sortable"
id="table_sens"
data-toggle="table"
data-show-columns="true"
data-locale="es-CL"
data-pagination="true"
data-page-size="10"
data-resizable="true">
    <thead class="table-dark">
        <tr>
            <th class="border border-left" data-sortable="true">Nombre</th>
            <th class="border border-left" data-sortable="true">Tipo</th>
            <th class="border border-left" data-field="Zona" data-sortable="true">Zona</th>
            <th class="border border-left" data-field="DAQ" data-sortable="true">DAQ</th>
            <th class="border border-left" data-sortable="true">Estado Daño</th>
            <th class="border border-left" data-sortable="true">Fecha Estado Daño</th>
            <th class="border border-left" data-sortable="true">Operatividad(1)</th>
            <th class="border border-left" data-sortable="true">Confiabilidad(2)</th>
            <th class="border border-left" data-sortable="true">Mantenimiento(3)</th>
            <th class="border border-left" data-sortable="true">Fecha Estados(1,2,3)</th>
        </tr>
    </thead>
    <tbody id="sensor_data">
    {%if sensores %}
        {% for element in sensores %}
        <tr>
            <td><a href="{{url_for('views_api.detalle_sensor',id_sensor=element.si)}}">{{ element.nombre_sensor }}</a></td>
            <td>{{ element.nombre}}</td>
            <td>{{ element.descripcion }}</td>
            <td><a href="{{url_for('views_api.detalle_daq',id_daq=element.id_daq)}}">{{ element.caracteristicas}}</td>
            <td>{{ element.estado}}</td>
            <td>{{ element.diahora_calculo | datetimefilter}}</td>
            {%if element.fecha123%}
            <td>{{element.operatividad}}</td>
            <td>{{element.confiabilidad}}</td>
            <td>{{element.mantenimiento}}</td>
            <td>{{element.fecha123 | datetimefilter}}</td>
            {%else%}
            <td>[POR DEFINIR]</td>
            <td>[POR DEFINIR]</td>
            <td>[POR DEFINIR]</td>
            <td>[POR DEFINIR]</td>
            {%endif%}
        </tr>
        {%endfor%}
    {%endif%}
    </tbody>
</table>