{% extends "base.html" %}

{% block customcss %}
<link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/jquery.resizableColumns.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
   {% include 'breadcrumb.html' %}
   <div class="container-fluid px-4 py-2">
      <h1><span class="badge bg-dark">{{datos_puente.rol}}</span> {{ datos_puente.nombre| title }}</h1>
      <div class="row py-3 d-flex flex-sm-row-reverse">
         <div class="col-sm-3 mb-2">{% include 'botones_tabla_estructura.html' %}</div>
         <div class="col-sm-9">
            <div class="row row-cols-2 g-2">
               <div class="col-sm-6">{% include 'tabla_ubicacion_estructura.html'%}  </div>
               <div class="col-sm-6">{% include 'tabla_detalles_estructura.html'%}</div>
               <div class="col-sm-6">
                  <div class="border border-secondary" id="map"></div>
               </div>
               <div class="col-sm-6">{% include 'imagenes_estructura.html' %}</div>
            </div>
         </div>
      </div>
      
      <div class="py-3">
         <h3>Estado de Diagnóstico</h3>
         <div>{% include 'tabla_estados_estructura.html' %}</div>
      </div>
      {% if esta_monitoreada%}
      <div class="py-3">
         <h4>Infraestructura de Monitoreo</h4>
         <div>
            <ul class="nav nav-tabs mb-3">
               <li class="active nav-item"><a class ="nav-link active" data-bs-toggle="tab" href="#sensores">Sensores</a></li>
               <li class="nav-item"><a class = "nav-link" data-bs-toggle="tab" href="#daqs">DAQs</a></li>
            </ul>
            <input type="text" class="form-control" id="filterInput" placeholder="Buscar Dispositivos">
            <div class="tab-content">
               <div id="sensores" class="tab-pane fade show active">
                  {%include 'tabla_sensores.html' %}
               </div>
               <div id="daqs" class="tab-pane fade">
                  {%include 'tabla_daqs.html' %}
               </div>
            </div>
         </div>
      </div>
      {% endif %}
</div>
{% endblock %}
{% block customjs %}
{{ super() }}
<script src="{{ url_for('static', filename='js/tabla_estructura.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-locale-all.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-export.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-resizable.min.js')}}"></script>   
<script src="{{ url_for('static', filename='js/jquery.resizableColumns.min.js')}}"></script>   
<script>
   showBridgeOnMap({{datos_puente.coord_x}},{{datos_puente.coord_y}});
</script>
<script>
  function asignar_color( strEstado){
          if( strEstado === 'Prístina'){return ('green');}
          else if (strEstado === 'Con daño'){return ('yellow');}
          else if (strEstado === 'Falla estructural leve'){return ('orange');}
          else if (strEstado === 'Falla estructural grave'){return ('red');}
          else if (strEstado === 'Crítico'){return ('purple');}
          else if (strEstado === 'Seguro'){return ('green');}
          else if (strEstado === 'Seguro para operar'){return ('yellow');}
          else if (strEstado === 'Inseguro para libre circulación'){return ('red');}
          else if (strEstado === 'Peligro'){return ('purple');}
          else{return ('gray');}
  }
  
   $(document).ready(function(){
        
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        var $table = $('#table_sens');
        $table.bootstrapTable('hideColumn', 'Zona');
        $table.bootstrapTable('hideColumn', 'DAQ');

       {%if estado%}
       var globString = "{{estado.estado}}";
       var segString = "{{estado.seguridad}}";

       $('#global-circle').css("color", asignar_color(globString));
       $('#seg-circle').css("color",asignar_color(segString));
       {%endif%}
   
       $("#filterInput").on("keyup", function() {
           var value = $(this).val().toLowerCase();
           $("#sensor_data tr").filter(function() {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
           });
           $("#daq_data tr").filter(function() {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
           });
       });
   });
</script> 
{% endblock %}

