<!-- templates/tiemporeal.html -->

{% extends "base.html" %}
{% block customcss %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'breadcrumb.html' %}
<div class="container-fluid px-4 py-2">
  <h1>
    {{datos_puente.tipo_activo}} {{ datos_puente.nombre|title }} :: Mediciones y Alertas en Tiempo Real
  </h1>

<div class="ratio ratio-21x9" >
   <iframe src="{{datos_puente.dashboard}}" title="Dashboard Thingsboard" allowfullscreen></iframe>
</div>
</div>
{% endblock %}