{% extends "base.html" %}

{% block customcss %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/tabla_estructura.css') }}" rel="stylesheet">
{% endblock %}

{% block sidebar%}
  {% include 'navbar_admin.html'%}
{% endblock %}

{% block content %}
<div class="container-fluid px-3 py-1">
    <div class="d-flex py-2">
     <button type="button" class="btn btn-primary me-3" id="menu-btn"><i class="bi bi-layout-sidebar"></i></button>
     <h1 >Gestión de usuarios :: Administrar usuarios existentes</h1>
   </div>
        
        <div class="py-3 ">
            <table class="table table-bordered table-hover clickable-row">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Permisos</th>
                        <th colspan="2">Editar permisos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in usuarios %}
                        <tr>
                            <td>{{i.nombre}}</td>
                            <td>{{i.apellido}}</td>
                            <td>{{i.permisos}}</td>

                            <td>
                                <form method="POST" action="{{url_for('views_api.cambiar_permisos')}}">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-select" id="permisos" name="permisos">
                                                <option value="Administrador" {% if i.permisos == "Administrador" %}selected{% endif %}>Administrador</option>
                                                <option value="Dueño" {% if i.permisos == "Dueño" %}selected{% endif %}>Dueño</option>
                                                <option value="Analista" {% if i.permisos == "Analista" %}selected{% endif %}>Analista</option>
                                                <option value="Visita" {% if i.permisos == "Visita" %}selected{% endif %}>Visita</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" value="{{i.id}}" name="userid" class="btn btn-primary btn-sm btn-block">Guardar</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="{{url_for('views_api.eliminar_usuario')}}">
                                    <button type="submit" value="{{i.id}}" name="userid" class="btn btn-sm btn-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
