{% extends "base.html" %}

{% block customcss %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/usuario_no_autorizado.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="bg">
    <div class="container px-5 py-5">
        <div class="jumbotron">
            <h1 class="title py-3">Usuario no autorizado</h1>
            <div class="row py-3">
                <div class="col">
                    <form action="{{url_for('views_api.profile')}}">
                        <button class="btn btn-secondary btn-sm">Volver al perfil</button>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}