{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-5 py-2">
        {% include 'breadcrumb.html' %}
        <h1 class="title">
            {{datos_puente.tipo_activo}} {{ datos_puente.nombre.capitalize() }}
        </h1>
        <div class="embed-container">
        <!--Iframe que sirve para visualizar la plataforma en una página html-->
        <!--cambiar host y puerto en caso de querer utilizar -->
            <iframe 
            src="http://0.0.0.0:8000" 
            width="100%" frameborder="0" height="900"> El navegador no soporta iframes
            </iframe>
        </div>
</div>
{% endblock %}

